/*ipad mini*/
@media (max-width: $screen-sm-max)  {
  .banner{
.banner-text{
  h1{
    font-size: 40px;
  }
}
}
.triangle {
  width: 0;
  height: 0;
  margin: 0 -60px -30px 0;
  display: inline-block;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 30px solid $brand-success;
}

.banner-management .banner-text {
  position: absolute;
  top: 50%;
  left: 61%;
  transform: translate(-50%, -50%);
  h1{
    font-size: 40px;
  }
}
.banner-mission .banner-text {
  position: absolute;
top: 46%;
left: 57%;
width: 29%;
transform: translate(-50%, -50%);
  h1{
    font-size: 40px;
  }
}
  .ribbon2{
    position: absolute;
    bottom: 50%;
  }
  .nav{
    margin-left: 0%;
  }
  .navbar-default .navbar-nav {
    li {
      a {
        letter-spacing: normal;
        font-family: 'Proxima';
        font-size: 14px;
        color: #a8a8ac;
      }
    }
  }
  .overview
  {
    position: relative;

}
/*footer*/
.foot-social{
  float: none !important;
  text-align: center;
  li{
    margin: 0 5px;
  }
  p{
    display: inline-block;
  }
}

.foot-list{
  margin-bottom: 20px;
}

/*footer*/
.home-bannertext p {
    line-height: 118%;
    color: #fff;
    font-size: 22px;
    position: absolute;
    bottom: 10%;
    left: 60%;
}

.padding0{
  .image-holder {
    position: relative;
    &:before {
      display: none;
    }
    &:after {
      display: none;

    }
  }
}
.floating-left,
.floating-right{
  display: none;
}
.csr p{
    font-size: 11px;
}
.mycl ul li {
    float: left;
    display: inline-block;
    width: 50%;
  }

  .myclis ul li {
      float: left;
      display: inline-block;
      width: 50%;
    }

/*clients starts*/
.clients{
  padding: 0;
}
.client1{
  position: relative;
  padding: 15px 0 30px 0;
}
.clients2 {
  padding: 30px 0 60px 0;
}
.client-types{
  .uib-tab{
    padding: 0;
    margin: 0;
  }
  uib-tab-heading {
    font-size: 14px;
    font-family: 'ProximaNova-Light';
    text-transform: capitalize;
    padding: 10px 0;
    color: #fff;
}
}
.nav-tabs{
  li{
    a{
      margin-right: 5px;
    }
  }
}
/*clients ends*/

/*about starts*/
.geography ul li a{
  font-size: 13px;
}
/*about ends*/

/*mission-vision*/
.mission-image{
  display: none;
}
/*mission-vision*/

/*piping*/
.piping-arrow{
display: none;
position: absolute;
right: -3px;
top: 0;
}

.piping-image{
  padding: 0;
  .factory{
    padding: 5px 0;
    font-size: 14px;
    font-family: 'Proxima';
  }
  span{
      padding: 5px 0;
  }
  .success{
    font-size: 14px;
    font-family: 'Proxima';
  }
}

.reading {
  a{
    font-size: 14px;
    color: $brand-primary;
    margin-right: 10px;
}
}
/*piping*/

/*contact us*/
  .address address {
    line-height: 180%;
    font-size: 11px;
    font-family: 'ProximaNova-Light';
}
/*contact us*/
}
/*ipad mini*/

/*extra small devices*/
@media (max-width: $screen-xs-max)  {
  .client1 .listing a {
   padding: 10px;
  }
/*piping*/
.ceo{
  position: absolute;
    right: -20px;
    top: -22px;
}
.client-speak{
  position: relative;
  padding: 50px 0;
  background-color: #f78f29;
  h2{
    margin-bottom: 20px;
  }
}
/*piping*/
.mycl ul li {
    float: left;
    display: inline-block;
    width: 100%;
  }

  .myclis ul li {
      float: left;
      display: inline-block;
      width: 50%;
    }

.padding0{
  .image-holder {
    position: relative;
    &:before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      opacity: 0;
      display: none;
      background-color: rgba(0,0,0,0.7);
      @include transition(opacity 0.2s);
    }
    &:after {
      content: url("../img/arrows.png");
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
       z-index: 1;
       opacity: 0;
       display: none;
    }
  }
  a {
    &:hover .image-holder {
      &:before,
      &:after {
        opacity: 1;
      }
    }
  }
}
 .ribbon1{
  display: none;
}
 .ribbon2{
  display: none;
 }
 .home-bannertext p {
    line-height: 118%;
    color: #fff;
    font-size: 22px;
    position: absolute;
    bottom: 0%;
    left: 60%;
  }
  .clients1{
  padding: 0px 0 30px 0;
  }
  .clients2{
  padding: 0px 0 20px 0;
  }
  .imag-side{
    width: 100%;
    height: 330px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(204, 204, 204, 0);
    position: relative;
    background-size: cover;
    min-height: 330px;
  }
  .banner-management .banner-text {
    position: absolute;
    top: 72%;
    left: 57%;
    transform: translate(-50%, -50%);
}
.banner-mission .banner-text {
    width: 60%;
    position: absolute;
    top: 33%;
    left: 69%;
    transform: translate(-50%, -50%);
}
}
/*extra small devices*/

/*iphone 6 starts*/
@media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px) {
      .banner{
    .banner-text{
      h1{
        font-size: 20px;
      }
    }
    }
    .triangle {
      display: none;
    }
    .overview h2 {
    font-size: 24px;
}
.clients h2 {
    font-family: 'ProximaNova-Light';
    font-size: 24px;
}
.about-rd .success, .geography .success{
  font-size: 24px;
}
    .foot-social {
    margin-top: 0px;
}
    .overview,
    .clients {
    padding: 0 0 10px  0;
}
ul.dropdown-menu {
    position: absolute;
    top: 73%;
    left: 0px;
    padding: 0;
    background-color: #f78f29;
    opacity: 0.9;
}
  .certification .list-inline li {
       padding-left: 5px;
       padding-right: 5px;
}

  .certification .list-inline li:nth-of-type(1){
    display: block;
  }

 .certification{
   padding-top: 20px;
 }

.resume{
  display: block;
  margin-top: 20px;
}

p{
  font-size: 12px;
}

.client-types .nav-tabs {
    margin: 0 35px;
}
/*management starts*/
.team .teams {
    font-size: 24px;
  }
  .banner-management .banner-text {
      position: absolute;
      top: 39%;
      left: 61%;
      transform: translate(-50%, -50%);
  }
  .client-speak p{
    margin-top: 20px;
  }
  .clientspeaks:before{
    top: -6px;
    left: -14px;
  }
  .ceo {
      position: absolute;
      right: 7px;
      top: -195px;
  }
  /*management ends*/

  /*piping starts*/
.piping-image,
.arrows{
  display: none;
}
/*piping starts*/

/*csr*/
.csr-info{
  img{
    display: none;
  }
}
.mycl ul li{
  float: left;
  display: inline-block;
  width: 100%;
}
.myclis ul li {
    float: left;
    display: inline-block;
    width: 50%;
    }
/*csr ends*/
/*footer starts*/
footer{
  ul{
    li{
      a,
      .listhead{
          font-size: 12px;
      }
    }
  }
}
.client-speak{
  position: relative;
  padding: 10px 0;
}
/*footer ends*/
  }
/*iphone 6 ends*/

/*iphone4 starts*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){
.ceo{
  display: none;
}
.mission .header {
    font-size: 24px;
}
.team .teams {
    font-size: 24px;
}
.client1{
margin-top: 15px;
}
.about-rd .success, .geography .success{
  font-size: 24px;
}
ul.dropdown-menu {
    position: absolute;
    top: 73%;
    left: 0px;
    padding: 0;
    background-color: #f78f29;
    opacity: 0.9;
}
p{
  font-size: 11px;
}
.banner .banner-text h1 {
    font-size: 17px;
}
.triangle {
    display: none;
  }
.overview h2 ,
.clients h2{
font-size: 24px;
}
.certification .list-inline li:nth-of-type(1){
  display: block;
}
.certification{
  padding-top: 20px;
}
/*piping starts*/
.clientspeaks:before {
    top: -8px;
    left: -5px;
  }
  .clientspeaks:before {
      top: -8px;
      left: -8px;
}
/*piping ends*/

  .foot-social {
    margin-top: 0px;
    p{
    text-align: center;
    font-size: 12px;
  }
}
  .overview,
  .clients {
  padding:  0 0 10px 0;
}
  footer{
    ul{
      li{
        a,
        .listhead{
            font-size: 12px;
        }
      }
    }
  }
/*contact us starts*/
  .geography ul li a {
    font-size: 12px;
}
.banner .banner-text {
    position: absolute;
    top: 42%;
    left: 52%;
    transform: translate(-50%, -50%);
}
/*contact us ends*/
/*management starts*/
.team h2 {
    font-size: 24px;
}
.chairman-text h3, .director-optext h3, .director-fintext h3{
  font-size: 14px;
}
.client-speak{
  position: relative;
  padding: 10px 0;
}
/*management ends*/
}
/*iphone4 ends*/
/*nexus4 starts*/
@media (max-width: 384px) {
  .banner{
.banner-text{
  h1{
    font-size: 20px;
  }
}
}
.csr .csr-info {
    margin: 20px 0 10px 0;
}
.client-info{
  margin: 30px 0;
}
.info{
  padding: 10px 0 20px 0;

}
.about-rd {
    margin: 20px 0;
}
ul.dropdown-menu {
    position: absolute;
    top: 73%;
    left: 0px;
    padding: 0;
    background-color: #f78f29;
    opacity: 0.9;
}
.about-rd .success, .geography .success{
  font-size: 24px;
}
  //*footer*//
.foot-social span{
  font-size: 12px;
  display: block;
}
  //*footer*//

//*home page*//
.home-bannertext p {
  line-height: 118%;
    color: #fff;
    font-size: 10px;
    position: absolute;
    top: 34%;
    left: 64%;
}
//*home page*//

//*management starts*//
.banner-management .banner-text h1 {
    font-size: 20px;
}

.team .teams {
    font-size: 24px;
}
.triangle {
  display: none;
  }
  .banner .banner-text {
      position: absolute;
      top: 46%;
      left: 49%;
      transform: translate(-50%, -50%);
    }
  /*contact us ends*/

.chairman-image{
  margin: 0 -13px;
}
.chairman-text p,
.director-fintext p{
  text-align: left;
}
.director-optext {
    margin: 0 -40px 50px 0;
}

.banner-management .banner-text {
    position: absolute;
    top: 39%;
    left: 61%;
    transform: translate(-50%, -50%);
}
//*management ends*//

//*piping starts*//
.client-speak p{
  margin-top: 20px;
}
.clientspeaks:before{
  top: -6px;
  left: -7px;
}
.ceo {
    position: absolute;
    right: 7px;
    top: -195px;
}
.piping-image,
.arrows{
  display: none;
}
//*piping ends*//

//*csr starts*//
.csr-info{
  img{
    display: none;
  }
}
.myclis ul li {
    float: left;
    display: inline-block;
    width: 100%;

}
.imaging-side{
  display: none;
}
.mycl ul li{
  float: left;
  display: inline-block;
  width: 100%;
}
.certification{
  padding-top: 0px;
}
.certifications{
  padding-top: 0;
  .list{
    padding: 0;
  }
}
.about-rd {
    margin: 20px 0 0 0;
}
.client-speak{
  position: relative;
  padding: 10px 0;
  margin-bottom: 15px;
}
.piping-text {
    padding: 25px 0 5px 0;
 p {
    margin-bottom: 20px;
}
}
.mission {
    padding-top: 20px;
    position: relative;
}
.vision
{
  padding: 20px 0 0 0;
  p{
  margin-top: -15px;
}
}
.clients h2{
  margin-bottom: -20px;
}
.projects {
    margin: 20px 0;
}
.finance{
  margin-bottom: 0;
}
//*csr ends*//
}
/*nexus4 ends*/
