
@media (max-width: $screen-sm-max)  {
  .ribbon2{
    position: absolute;
    bottom: 50%;
  }
  .nav{
    margin-left: 0%;
  }
  .navbar-default .navbar-nav {
    li {
      a {
        letter-spacing: normal;
        font-family: 'Proxima';
        font-size: 14px;
        color: #a8a8ac;
      }
    }
  }
  .overview
  {
    position: relative;
    p{
    margin-top: 30px;
  }
}
/*footer*/
.foot-social{
  float: none !important;
  text-align: center;
  li{
    margin: 0 10px;
  }
  p{
    display: inline-block;
  }
}

.foot-list{
  margin-bottom: 20px;
}

/*footer*/
.home-bannertext p {
    line-height: 118%;
    color: #fff;
    font-size: 24px;
    position: absolute;
    bottom: 10%;
    left: 60%;
}

.padding0{
  .image-holder {
    position: relative;
    &:before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      opacity: 0;
      background-color: rgba(0,0,0,0.7);
      @include transition(opacity 0.2s);
    }
    &:after {
      content: url("../img/arrows.png");
      position: absolute;
      top: 15%;
      left: -20%;
       transform: translate(-50%, -50%);
       z-index: 1;
       opacity: 0;
       transform: scale(0.7,0.7);
       transition: opacity 0.2s;
    }
  }
  a {
    &:hover .image-holder {
      &:before,
      &:after {
        opacity: 1;
      }
    }
  }
}
.floating-left,
.floating-right{
  display: none;
}
.csr p{
    font-size: 11px;
}
/*clients*/
.clients2 {
  padding: 30px 0 60px 0;
}
.client-types{
  .uib-tab{
    padding: 0;
    margin: 0;
  }
  uib-tab-heading {
    font-size: 14px;
    font-family: 'ProximaNova-Light';
    text-transform: capitalize;
    padding: 10px 0;
    color: #fff;
}
}
.nav-tabs{
  li{
    a{
      margin-right: 5px;
    }
  }
}
/*clients*/
/*about*/
.geography ul li a{
  font-size: 13px;
}
/*about*/
/*mission-vision*/
.mission-image{
  display: none;
}
/*mission-vision*/
/*piping*/

.piping-arrow{
display: none;
position: absolute;
right: -3px;
top: 0;
}

.piping-image{
  padding: 0;
  .factory{
    padding: 5px 0;
    font-size: 14px;
    font-family: 'Proxima';
  }
  span{
      padding: 5px 0;
  }
  .success{
    font-size: 14px;
    font-family: 'Proxima';
  }
}

.reading {
  a{
    font-size: 14px;
    color: $brand-primary;
    margin-right: 10px;
}
}

/*piping*/

/*contact us*/
  .address address {
    line-height: 180%;
    font-size: 11px;
    font-family: 'ProximaNova-Light';
}
/*contact us*/
}

@media (max-width: $screen-xs-max)  {
  .client1 .listing a {
   padding: 10px;
  }

.ceo{
  position: absolute;
    right: -20px;
    top: -22px;
}
.client-speak{
  position: relative;
  padding: 50px 0;
  background-color: #f78f29;
  h2{
    margin-bottom: 20px;
  }
}
.mycl ul li {
    float: left;
    display: inline-block;
    width: 100%;
  }

.padding0{
  .image-holder {
    position: relative;
    &:before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      opacity: 0;
      display: none;
      background-color: rgba(0,0,0,0.7);
      @include transition(opacity 0.2s);
    }
    &:after {
      content: url("../img/arrows.png");
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
       z-index: 1;
       opacity: 0;
       display: none;
    }
  }
  a {
    &:hover .image-holder {
      &:before,
      &:after {
        opacity: 1;
      }
    }
  }
}
  .ribbon1{
  display: none;
}
  .ribbon2{
  display: none;
 }
 .home-bannertext p {
    line-height: 118%;
    color: #fff;
    font-size: 22px;
    position: absolute;
    bottom: 0%;
    left: 60%;
  }
  .clients1{
  padding: 20px 0 30px 0;
  }
  .clients2{
  padding: 20px 0 20px 0;
  }
  .imag-side{
    width: 100%;
    height: 330px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(204, 204, 204, 0);
    position: relative;
    background-size: cover;
    min-height: 330px;
  }
  .banner-management .banner-text {
    position: absolute;
    top: 72%;
    left: 57%;
    transform: translate(-50%, -50%);
}
.banner-mission .banner-text {
    width: 60%;
    position: absolute;
    top: 31%;
    left: 69%;
    transform: translate(-50%, -50%);
}
}
/*iphone 6*/
@media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px)
    and (orientation : landscape) {
    

    }
/*iphone 6*/
