@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";

/* Bootstrap Variables Goes Here */
$brand-primary: #29348e !default;
$brand-success: #f78f29 !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;

//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            $brand-primary !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:     $brand-success  !default;
//** Link hover decoration.
$link-hover-decoration: none !default;

$font-family-sans-serif:  "Proxima Nova", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Gotham", "Times New Roman", Times, serif !default;

$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;

$btn-default-border:             #fff !default;
$btn-primary-border:             $brand-primary !default;
$btn-success-border:             $brand-success !default;
$btn-warning-border:             $brand-warning !default;
$btn-danger-border:              $brand-danger !default;
$btn-info-border:                $brand-info !default;
/* Bootstrap Variables Goes Here */

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {
  padding-top: 70px;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
a,.btn {
  cursor: pointer;
  @include transition(all ease 300ms);
}
//Color Class
.primary {
  color: $brand-primary;
}
.success {
  color: $brand-success;
}
//Custom button

//bootstrap forms
.input-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.btn,
.form-control {
  border-radius: 0;
  @include box-shadow(none);
}
.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}
//bootstrap forms
/* Start writing sass here */
.content {
  min-height: 300px;
}
/*header starts here*/

.nav{
  margin-left: 13%;
  li{
    margin-right: -10px;
    a{
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

.navbar-brand { padding: 5px 15px; }


/*header ends here*/

/*main starts here*/

.banner{
  margin-top: -19px;
  position: relative;
  .banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
      h1{
        color:#fff;
    }
  }
}

.floating-left {
  position: absolute;
  top: 82%;
  left: 0px;
}

.floating-right{
  position: absolute;
  top: 89%;
  right: 0;
}












/*main ends here*/

/*footer starts here*/

footer{
  background-color: $brand-primary;
  color: #fff;
}

footer {
  ul{
    padding: 15px 0 5px 0;
    li{
      list-style-type: none;
      a{
        text-transform: capitalize;
        color: #fff;
      }
    }
  }
}

.list-head{
  margin-top: 10px;
  font-weight: 600;
  color: #fff;
}

.foot-social{
  margin-top: 64px;
  span,p{
    padding-top: 10px;
    margin-bottom: 0;
    text-transform: capitalize;
  }
.social{
  li{
    a{
      width: 30px;
      height: 30px;
      display: inline-block;
      background-color: #fff;
      border-radius: 100%;
      color: $brand-primary;
      text-align: center;
      line-height: 30px;
    }
  }
}
}


/*footer ends here*/
@import "fancybox-override";
