@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";

/* Bootstrap Variables Goes Here */
$brand-primary: #29348e !default;
$brand-success: #f78f29 !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;

//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            $brand-primary !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:     $brand-success  !default;
//** Link hover decoration.
$link-hover-decoration: none !default;

$font-family-sans-serif:  "Proxima Nova", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Gotham", "Times New Roman", Times, serif !default;

$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;

$btn-default-border:             #fff !default;
$btn-primary-border:             $brand-primary !default;
$btn-success-border:             $brand-success !default;
$btn-warning-border:             $brand-warning !default;
$btn-danger-border:              $brand-danger !default;
$btn-info-border:                $brand-info !default;
/* Bootstrap Variables Goes Here */

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {
  padding-top: 70px;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
a,.btn {
  cursor: pointer;
  @include transition(all ease 300ms);
}
//Color Class
.primary {
  color: $brand-primary;
}
.success {
  color: $brand-success;
}
//Custom button

//bootstrap forms
.input-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.btn,
.form-control {
  border-radius: 0;
  @include box-shadow(none);
}
.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}


@font-face{
font-family: 'FirstFont';
src:url("../fonts/GOTHAM-BOLD_1.OTF");
font-weight: 600;
}

@font-face{
font-family: 'SecondFont';
src:url("../fonts/ProximaNova-Extrabold.otf");
font-weight: 700;
}

@font-face{
font-family: 'ThirdFont';
src:url("../fonts/ProximaNova-Semibold.otf");
font-weight: 500;
}

@font-face{
font-family: 'FourthFont';
src:url("../fonts/ProximaNova-Light.otf");
font-weight: 700;
}
//bootstrap forms
/* Start writing sass here */
.content {
  min-height: 300px;
}
/*header starts here*/
 li{list-style-type: none;}
.nav{
  margin-left: 13%;
  li{
    margin-right: -10px;
    a{
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

address{
  font-family:'ThirdFont';
}



.navbar-brand { padding: 5px 15px; }


/*header ends here*/

/*main starts here*/
h3,h2 {
  font-family: 'FourthFont';
  text-transform: capitalize;
}
.banner{
  margin-top: -19px;
  position: relative;
  .banner-text{
    position: absolute;
    top: 48%;
    left: 56%;
    transform: translate(-50%,-50%);
      h1{
        display: inline-block;
        font-family: 'SecondFont';
        font-size: 80px;
        color:#fff;
    }
  }
}


.triangle{
  border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 50px solid $brand-success ;
    margin: 0px -60px -30px 0px;
    display: inline-block;
    height: 0;
    width: 0;
}
.floating-left {
  position: absolute;
  top: 55%;
  left: 0px;
}

.floating-right{
  position: absolute;
  top: 62%;
  right: 0;
}

.info{
    margin:  5% 0 0 0 ;
}

.certification{
      padding-top: 50px;
}

p{
font-family: 'ThirdFont';
 text-transform: capitalize;
 text-align: justify;
}

.resume,a{
  font-size: 16px;
  font-family: 'ThirdFont';
  color: $brand-success;
}

/*home page starts here*/
.slider{
  margin-top: -23px;
}
.flex-control-nav{
  width: 100%;
  position: absolute;
  bottom: 30px;
  text-align: center;
  z-index: 2;
}
.flex-direction-nav{ display: none;}
.flexslider{ border: none;}



.overview{
  margin-top: -60px;
  padding: 50px 0 20px 0;
  background-color: $brand-success;
  .text{
      color: #fff;
  }
  .texts{
    padding: 0 5px;
    a{
      color: #fff;
      text-transform: uppercase;
    }
  }
}


.small-triangle:after{
  content: "";
  border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $brand-primary ;
    display: inline-block;
    height: 0;
    width: 0;
}



.certifications{
  h3{
    color:  $brand-success;
  }
  .list{
    padding: 30px 0;
  }
}
.listing{
  width: auto;
  height: 100px;
  overflow: hidden;
  img{
    max-width: 100%;
    max-height: 100%;
  }
}

.clients1{
  li{
      padding:15px;
  }
}

.clients2{
  margin: 0 0 0 25px;
  li{
      padding: 15px 36px 30px;
  }
}

.home-banner{
  position: relative;
}
.home-bannertext{
  .triangle{
    position: absolute;
    bottom: 25%;
    left: 37%;
    transform: translate(-50%,-50%);
  }
  p{
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 10%;
    left: 53%;
    transform: translate(-50%,-50%);
    width: 166px;
    font-family: 'FourthFont';
    font-weight: 600;
  }
}



/*home page ends here*/
/*sectors page started*/
.sector-inf{
    margin-bottom: 25px;
}
.sect1-info{
  margin: 15px 0 25px 0;
}

.sect1-inf{
  margin: 25px 0 15px 0;
}

.tab{
  background-color: $brand-primary;
}

.uib-tab{
  padding: 0 20px;
}
uib-tab-heading{
  font-size: 18px;
  font-family: 'FourthFont';
  text-transform: capitalize;
  padding: 10px 25px 10px 25px;
  border-bottom: 4px solid $brand-success ;
  color: #fff;
}

.tab >.nav-tabs > li.active > a{
  background-color: transparent;
  border: none;
}
.tab>.nav-tabs > li.active > a:hover{
  background-color: transparent;
  border: none;
}
.tab>.nav-tabs > li.active > a:focus{
  background-color: transparent;
  border: none;
}
.padding0{
  padding-left: 0px;
  padding-right: 0px;
}

// ul.padding0 li{
// width: 49.7%;
// display: inline-block;
// margin: 0px;
// }

.mycl ul li{
  float: left;
    width: 50%;
    padding: 0px;
    margin: 0px !important;
  }
/*sectors page ended*/







/*main ends here*/

/*footer starts here*/

footer{
  background-color: $brand-primary;
  color: #fff;
}

footer {
  ul{
    padding: 15px 0 5px 0;
    li{
      list-style-type: none;
      a{
        text-transform: capitalize;
        color: #fff;
      }
    }
  }
}

.list-head{
  margin-top: 10px;
  font-weight: 600;
  color: #fff;
}

.foot-social{
  margin-top: 64px;
  span,p{
    padding-top: 10px;
    margin-bottom: 0;
    text-transform: capitalize;
  }
.social{
  li{
    a{
      width: 30px;
      height: 30px;
      display: inline-block;
      background-color: #fff;
      border-radius: 100%;
      color: $brand-primary;
      text-align: center;
      line-height: 30px;
    }
  }
}
}


.facebook a:after {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #fff;
  border-radius: 100%;
  color: $brand-primary;
  text-align: center;
  line-height: 30px;
}

.image-hold{
 width: 100%;
height: 330px;
overflow: hidden;
background-image: url("../img/video/v1.jpg");
background-position: center center;
background-repeat: no-repeat;
background-color: rgba(204,204,204,0);
position: relative;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height: 330px;
}
.imag-side{
  @extend .image-hold;
  min-height: 660px;
  height: 660px;
}
.mycl{
  ul{
    display: block;
    margin-bottom: 0;
    li{
      display: inline-block;
      width: 50%;
    }
  }
}
/*footer ends here*/
@import "fancybox-override";
