@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #29348e !default;
$brand-success: #f78f29 !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
//** Background color for `<body>`.
$body-bg: #fff !default;
//** Global text color on `<body>`.
$text-color: $brand-primary !default;
//** Global textual link color.
$link-color: $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color: $brand-success !default;
//** Link hover decoration.
$link-hover-decoration: none !default;
$font-family-sans-serif: "Proxima Nova", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Gotham", "Times New Roman", Times, serif !default;
$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;
$btn-default-border: #fff !default;
$btn-primary-border: $brand-primary !default;
$btn-success-border: $brand-success !default;
$btn-warning-border: $brand-warning !default;
$btn-danger-border: $brand-danger !default;
$btn-info-border: $brand-info !default;
/* Bootstrap Variables Goes Here */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {
  padding-top: 70px;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
a,
.btn {
  cursor: pointer;
  @include transition(all ease 300ms);
}
//Color Class
.primary {
  color: $brand-primary;
}
.success {
  color: $brand-success;
}
//Custom button
//bootstrap forms
.input-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.btn,
.form-control {
  border-radius: 0;
  @include box-shadow(none);
}
.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}
@font-face {
  font-family: 'GOTHAM';
  src: url("../fonts/GOTHAM-BOLD_1.OTF");
  font-weight: 600;
}

@font-face {
  font-family: 'Proxima';
  src: url("../fonts/ProximaNova-Semibold.otf");
  font-weight: 500;
}
@font-face {
  font-family: 'ProximaNova-Light';
  src: url("../fonts/ProximaNova-Light.otf");
  font-weight: 700;
}
@font-face{
  font-family: 'ProximaNova-Bold';
  src:url("../fonts/ProximaNova-Bold.otf");
}



//bootstrap forms
/* Start writing sass here */
.content {
  min-height: 300px;
}
/*banner starts here*/
.banner-text {
  h1 {
    text-transform: uppercase;
  }
}
/*banner ends here*/
/*header starts here*/
li {
  list-style-type: none;
}
.nav {
  margin-left: 13%;
  li {
    margin-right: -10px;
    a {
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
address {
  font-family: 'Proxima';
}
.navbar-default .navbar-nav >.active >a {
  background-color: transparent;
}
.navbar-default .navbar-nav >.active >a:hover {
  background-color: transparent;
}
.navbar-brand {
  padding: 5px 15px;
}
.navbar-default {
  padding: 10px 0;
  background-color: #fff;
}
.navbar-default .navbar-nav {
  li {
    a {
      font-family: 'Proxima';
      font-size: 14px;
      color: #a8a8ac;
    }
  }
}
ul.dropdown-menu {
  background-color: $brand-success;
  li {
    padding: 0 10px 0 0;
    a {
      padding: 10px 60px;
      color: #fff!important;
      &:hover {
        background-color: $brand-primary;
      }
    }
  }
}
/*header ends here*/
/*main starts here*/
h3,
h2 {
  font-family: 'ProximaNova-Light';
  text-transform: capitalize;
}
.banner {
  margin-top: -19px;
  position: relative;
  .banner-text {
    position: absolute;
    top: 48%;
    left: 56%;
    transform: translate(-50%,-50%);
    h1 {
      display: inline-block;
      font-family: 'ProximaNova';
      font-size: 80px;
      color: #fff;
    }
  }
}
.triangle {
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 50px solid $brand-success;
  margin: 0 -60px -30px 0;
  display: inline-block;
  height: 0;
  width: 0;
}
.floating-left {
  position: absolute;
  top: 55%;
  left: 0;
}
.floating-right {
  position: absolute;
  top: 62%;
  right: 0;
}
.info {
  margin: 5% 0 0;
}
.certification {
  padding-top: 50px;
}
p {
  font-family: 'Proxima';
  text-transform: capitalize;
  text-align: justify;
}
.resume,
a {
  font-size: 16px;
  font-family: 'Proxima';
  color: $brand-success;
}
/*home page starts here*/
.slider {
  margin-top: -23px;
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 30px;
  text-align: center;
  z-index: 2;
}
.flex-direction-nav {
  display: none;
}
.flexslider {
  border: none;
}
.overview {
  position: relative;
  margin-top: -60px;
  padding: 100px 0;
  background-color: $brand-success;
  h2 {
    font-size: 60px;
  }
  .text {
    color: #fff;
    text-transform: none;
  }
  .texts {
    padding: 0 5px;
    a {
      color: #fff;
      text-transform: uppercase;
    }
  }
}
.texts a:hover {
  color: $brand-primary;
}
.small-triangle:after {
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $brand-primary;
  display: inline-block;
  height: 0;
  width: 0;
}
.certifications {
  padding: 10px 0;
  h3 {
    font-family: 'Proxima';
    color: $brand-success;
  }
  .list {
    padding: 30px 0;
  }
}
.listing {
  width: auto;
  height: 100px;
  overflow: hidden;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.clients {
  padding: 20px 0;
  h2 {
    font-family: 'ProximaNova-Light';
    font-size: 60px;
  }
}
.clients1 {
  padding: 15px 0;
  li {
    padding: 0 21px;
  }
}
.clients2 {
  padding: 15px 0;
  li {
    padding: 0 0 0 78px;
  }
}
.home-banner {
  position: relative;
}
.home-bannertext {
  .triangle {
    position: absolute;
    bottom: 25%;
    left: 37%;
    transform: translate(-50%,-50%);
  }
  p {
    color: #fff;
    font-size: 24px;
    position: absolute;
    bottom: 5%;
    left: 55%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    font-family: 'Proxima';
    font-weight: 600;
  }
}
.overview-images {
  position: relative;
}
.ribbon1 {
  position: absolute;
  top: 67%;
  right: 0;
}
.ribbon2 {
  position: absolute;
  bottom: 30%;
  left: 0;
  z-index: 2;
}
.padding0{
  .image-holder {
    position: relative;
    &:before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      opacity: 0;
      background-color: rgba(0,0,0,0.7);
      @include transition(opacity 0.2s);
    }
    &:after {
      content:url('../img/arrows.png');
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%,-50%));
      z-index: 1;
      opacity: 0;
      @include transition(opacity 0.2s);
    }
  }
  a {
    &:hover .image-holder {
      &:before,
      &:after {
        opacity: 1;
      }
    }
  }
}



/*home page ends here*/
/*sectors page started*/
.sector-inf {
  margin-bottom: 25px;
}
.sect1-info {
  margin: 15px 0 25px;
}
.sect1-inf {
  margin: 25px 0 15px;
}
.nav-tabs {
  margin:0;
  background-color: $brand-primary;
}
.uib-tab {
  padding: 0 20px;
}
uib-tab-heading {
  font-size: 18px;
  font-family: 'ProximaNova-Light';
  text-transform: capitalize;
  padding: 10px 20px;
  color: #fff;
}

.nav-link {
  background-color: transparent!important;
  border: none!important;
  &:hover uib-tab-heading{
      border-bottom: 4px solid $brand-success;
    color: $brand-success !important;
  }
}

.padding0 {
  padding-left: 0;
  padding-right: 0;
}
.mycls {
  ul {
    display: block;
    margin-bottom: 0;
    li {
      float: left;
      display: inline-block;
      width: 51%;
    }
  }
}
.images-side {
  width: 100%;
  overflow: hidden;
  background-image: url("../img/video/v1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(204,204,204,0);
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 402px;
}
.images-hold {
  width: 100%;
  overflow: hidden;
  background-image: url("../img/video/v1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(204,204,204,0);
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 201px;
}
/*sectors page ended*/
.client1{
  margin: 0 0 35px 0;
}

.clients{
  padding: 60px 0 50px 0;
}
.client-info{
  margin: 50px 0 30px 0;
}
/*contact us page starts here*/
.success {
  font-size: 30px;
  font-family: "Proxima";
}
address {
  font-size: 18px;
}
/*contact us page ends here*/
/*about starts here*/
.about-rd,.geography,.mission,.vision{
  .success{
    font-size: 60px;
  font-family: 'ProximaNova-Light';
  }
  h3{
  font-family: 'ProximaNova-Bold';
  }
}
.geography{
  ul{
    padding: 0;
  li{
    list-style-type: disc;
    a{
      font-family: 'Proxima';
      color: $brand-primary;
    &:hover{
        color: $brand-success;
    }
  }
}
}
}
.map-image{
  margin: 20px 0;
}

/*about ends here*/

/*mission starts here*/
.mission,.vision {
  ul{
    padding: 0;
    li{
      font-size: 16px;
      font-family: 'Proxima';
      list-style-type: disc;
  }
}
}
.vision{
  padding: 20px 0;
  p{
      font-size: 16px;
  }
}
.mission{
  padding: 30px 0;
  position: relative;
}
.mission-image{
  position: absolute;
    right: 130px;
    top: 54px;
}

/*mission ends here*/

/*csr page starts here*/

.csr{
  .csr-info{
    margin: 60px 0 10px 0;
  }
  p{
    font-size: 16px;
  }
}
.csr{
  .overview-images{
    .image-hold{
    width: 100%;
    height: 192px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(204,204,204,0);
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 192px;
  }
  .imag-side{
    width: 100%;
    height: 385px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(204,204,204,0);
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
}


/*csr page ends here*/
/*rd-the brand page ends here*/

.brand-info{
  margin: 60px 0;
  p{
  margin-bottom: 30px;
  }
}
.rd-brand{
  .overview-images{
    .image-hold{
    width: 100%;
    height: 230px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(204,204,204,0);
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 192px;
  }
  .imag-side{
    width: 100%;
    height: 460px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(204,204,204,0);
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
}

/*rd-the brand page ends here*/

/*main ends here*/
/*footerhome starts here*/
footer {
  background-color: $brand-primary;
  color: #fff;
}
footer {
  ul {
    padding: 15px 0 5px;
    li {
      list-style-type: none;
      a {
        font-family: 'ProximaNova-Light';
        text-transform: capitalize;
        color: #fff;
      }
    }
  }
}
.list-head {
  margin-top: 10px;
  font-weight: 600;
  color: #fff;
  a {
    font-family: 'Proxima';
  }
}
.foot-social {
  margin-top: 64px;
  span,
  p {
    font-family: 'ProximaNova-Light';
    padding-top: 10px;
    margin-bottom: 0;
    text-transform: capitalize;
  }
  .social {
    li {
      a {
        width: 30px;
        height: 30px;
        display: inline-block;
        background-color: #fff;
        border-radius: 100%;
        color: $brand-primary;
        text-align: center;
        line-height: 30px;
      }
    }
  }
}
.social {
  li {
    a:hover {
      background-color: $brand-success;
      color: #fff;
    }
  }
}
.image-hold {
  width: 100%;
  height: 330px;
  overflow: hidden;
  background-image: url("../img/video/v1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(204,204,204,0);
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 330px;
}
.imag-side {
  @extend .image-hold;
  min-height: 660px;
  height: 660px;
}
.mycl {
  ul {
    display: block;
    margin-bottom: 0;
    li {
      float: left;
      display: inline-block;
      width: 50%;
    }
  }
}
/*footerhome ends here*/
/*footer starts here*/
.main-footer{
.list-head {
  margin-top: 10px;
  font-weight: 600;
  a {
    color: $brand-success;
    font-family: 'Proxima';
  }
}
}
.main-footer{
  .foot-social{
    p,span{
        color: $brand-success;
    }
  }
}



/*footer ends here*/

@import "fancybox-override";
