<div class="client-banner">
  <div class="container">
    <div class="careers-text">
      <h2><a href="#">clients</a></h2>
      <a href="#"><img src="" class="img-responsive"></a>
    </div>
  </div>
  <div class="ribbon">
    <a href=""><img src="" class="img-responsive"></a>
  </div>
  <div class="ribbon">
    <a href=""><img src="" class="img-responsive"></a>
  </div>
</div>
<div class="about">
  <div class="container">
    <div class="about-rd">
      <h2>about rd</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptatum, quisquam perferendis modi perspiciatis cum nemo! Quisquam, magnam! Explicabo molestiae beatae corporis cumque autem veritatis magni. Amet consequatur, eligendi aperiam.</p>
    </div>
    <div class="geography">
      <div class="row">
        <div class="col-md-4">
          <h3>our companies</h3>
          <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </div>
      <div class="map-image">
        <img src="" class="img-responsive" alt="">
      </div>
    </div>
    <div class="certification text-center">
      <span>certification</span>
      <ul class="list-inline">
        <li>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
