
  <div class="container">
    <div class="about">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
    <div class="about-rd">
      <h2>about rd</h2>
      <p>randen engineering pvt ltd formely known as rd engineering, is a mechanical engineering firm and a part of a group  involved in undertaking engineering procurment and construction contracts for structures,piping,tankage and equipment erection across india and overseas for the last 40 years.we provide customized and innovative solutions for all your unique requirements and hence are a complete integrated solution provider.with headquaters in mumbai india we deal with heavy fabrication facilities in india and with capabilities backed by past experience ,we execute mechanical engineering projects in mozambique,ethopia,ghana and south africa.in order to carry out site jobs of erection and installation,we have a large pool of cranes and other equipments to undertake any project across the country as well as globally.we are associated with don bosco,pinguli,maharashtra to recriut well qualified technicians as well as to provide industrial training to our candidates</p>
    </div>
    <div class="geography">
      <div class="row">
        <div class="col-md-4">
          <ul>
            <li><a href="#">Randen engineering Pvt Ltd-India</a></li>
            <li><a href="#">RD Fabrica South Africa(Pty)Ltd-South Africa</a></li>
            <li><a href="#">Randen Engineers Uganda Ltd-Uganda</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>our companies</h3>
          <ul>
            <li><a href="#">RD Fabrica Tanzania Ltd-Tanzania</a></li>
            <li><a href="#">Ransons Overseas Fz LLC -UAE</a></li>
            <li><a href="#">Ryden Overseas Trading FZC-UAE</a></li>
          </ul>
        </div>
      </div>
      <div class="map-image">
        <img src="" class="img-responsive" alt="">
      </div>
    </div>
    </div>
  </div>
    <div class="certifications text-center">
      <span>certification</span>
      <ul class="list-inline">
        <li>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
