<div class="careers-banner">
  <div class="container">
    <div class="careers-text">
      <h2><a href="#">careers</a></h2>
      <a href="#"><img src="" class="img-responsive"></a>
    </div>
  </div>
  <div class="ribbon">
    <a href=""><img src="" class="img-responsive"></a>
  </div>
  <div class="ribbon">
    <a href=""><img src="" class="img-responsive"></a>
  </div>
</div>
<div class="careers-info text-center">
  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum quisquam, repellat asperiores vero veniam, sequi exercitationem hic rerum quas debitis laborum libero, pariatur quidem a, officia impedit? Quibusdam, quaerat, facilis?
    </p>
    <p>you can send your resume at:<a href="mailto:careers@rd-engineering.com">careers@rd-engineering.com</a></p>
  </div>
</div>
<div class="certification text-center">
  <div class="container">
    <span>certification</span>
    <ul class="list-inline">
      <li>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
      </li>
    </ul>
  </div>
</div>
