  <div class="container">
<div class="info ">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
    <p>We believe in a culture that nurtures autonomy and independent thinking. We provide opportunities to excel in a team based and collaborative environment. You will find yourself working with  a team of elite and highly skilled professionals who deliver innovative, creative and cutting edge solutions to a variety of clients around the globe.Our opportunity awaits you coupling our advanced technology with our expertise team to achieve lasting results. If you are looking for a career with growth opportunity then this is the place for you.

    </p>
    <span class="resume">You can send your resumes at :<a href="mailto:careers@rd-engineering.com"> careers@rd-engineering.com</a></span>
  </div>
</div>
</div>
</div>
