  <div class="container">
<div class="careers-info ">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
    <p>at randen engineering pvt ltd we believe in a culture that nutures autononmy and independent thinking,we provide  opportunities to excel in a team based and collabarative environment.you will find yourself in team of elite and highly skilled professional who delivers innovative,creative and cutting edge solutions to a variety of clients around globe.here at randen engineering pvt ltd opportunity awaits you coupling our advanced technology with our expertise team to achieve lasting results.if you are looking for a career that personally and financially rewards with tremendous growth opportunities then randen engineering pvt ltd  is the place for you.
    </p>
    <span>you can send your resume at:<a href="mailto:careers@rd-engineering.com">careers@rd-engineering.com</a></span>
  </div>
</div>
</div>
<div class="certification text-center">
    <ul class="list-inline">
      <li class="success">Certification</li>
      <li><a href="#"><img src="img/certificate1.jpg" alt="Certificate"></a></li>
      <li><a href="#"><img src="img/certificate2.jpg" alt="Certificate"></a></li>
      <li><a href="#"><img src="img/certificate3.jpg" alt="Certificate"></a></li>
    </ul>
</div>
</div>
