
<div class="client-intro">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
    <div class="client-info">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi illo nulla provident, excepturi consequatur. Non temporibus soluta accusamus consequuntur, fugit, ullam quidem saepe praesentium. Neque aliquam consectetur quisquam, voluptatum enimlorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi illo nulla provident, excepturi consequatur. Non temporibus soluta accusamus consequuntur, fugit, ullam quidem saepe praesentium. Neque aliquam consectetur quisquam, voluptatum enimlorem.</p>
    </div>
  </div>
  </div>
  <div class="client-types">
    <uib-tabset active="active">
  <uib-tab index="0" heading="Vertical 1">
    <uib-tab-heading>food and beverages</uib-tab-heading>
  </uib-tab>
  <uib-tab index="1" heading="Vertical 2">
      <uib-tab-heading>pharma and agro</uib-tab-heading>
  </uib-tab>
  <uib-tab index="2" heading="Vertical 3">
      <uib-tab-heading>oil and gas engineering</uib-tab-heading>
  </uib-tab>
  <uib-tab index="3" heading="Vertical 4">
      <uib-tab-heading>home and personal care</uib-tab-heading>
  </uib-tab>
</uib-tabset>
  </div>
  <div class="clients">
    <div class="client1">
    <div class="row">
      <div class="col-md-2">
        <div class="listing">
        <a href="#" title="SABMiller"><img src="img/SABMiller.jpg" alt="SABMiller" class="img-responsive"></a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="listing">
        <a href="#" title="Carlsberg"><img src="img/carlsberg.jpg" alt="SABMiller" class="img-responsive"></a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="listing">
        <a href="#" title="Unilever"><img src="img/Unilever.jpg" alt="SABMiller" class="img-responsive"></a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="listing">
      <a href="#" title="Addax and Oryx"><img src="img/de.jpg" alt="SABMiller" class="img-responsive"></a>
      </div>
    </div>
      <div class="col-md-2">
        <div class="listing">
        <a href="#" title="Addax and Oryx"><img src="img/logs.jpg" alt="SABMiller" class="img-responsive"></a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="listing">
        <a href="#" title="Diageo"><img src="img/diageo.jpg" alt="SABMiller" class="img-responsive"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="client1">
    <div class="row">
      <div class="col-md-2">
        <div class="listing">
        <a href="#" title="serengeti"><img src="img/serengeti.jpg" alt="SABMiller" class="img-responsive"></a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="listing">
        <a href="#" title="Addax and Oryx"><img src="img/brew.jpg" alt="SABMiller" class="img-responsive"></a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="listing">
        <a href="#" title="zieman"><img src="img/zieman.jpg" alt="SABMiller" class="img-responsive"></a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="listing">
      <a href="#" title="coco-cola"><img src="img/coco.png" alt="SABMiller" class="img-responsive"></a>
      </div>
    </div>
      <div class="col-md-2">
        <div class="listing">
        <a href="#" title="Addax and Oryx"><img src="img/loogos.jpg" alt="SABMiller" class="img-responsive"></a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="listing">
        <a href="#" title="Addax and Oryx"><img src="img/set.jpg" alt="SABMiller" class="img-responsive"></a>
        </div>
      </div>
    </div>
    </div>
    <div class="client1">
    <div class="row">
      <div class="col-md-2">
        <div class="listing">
        <a href="#" title="Cadbury"><img src="img/cadbury.jpg" alt="SABMiller" class="img-responsive"></a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="listing">
        <a href="#" title="Casella"><img src="img/casella.jpg" alt="SABMiller" class="img-responsive"></a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="listing">
        <a href="#" title="krones"><img src="img/krones.jpg" alt="SABMiller" class="img-responsive"></a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="listing">
      <a href="#" title="Addax and Oryx"><img src="img/lafa.png" alt="SABMiller" class="img-responsive"></a>
      </div>
    </div>
      <div class="col-md-2">
        <div class="listing">
        <a href="#" title="pepsico"><img src="img/pepsico.jpg" alt="SABMiller" class="img-responsive"></a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="listing">
        <a href="#" title="abbot"><img src="img/abbot.jpg" alt="SABMiller" class="img-responsive"></a>
        </div>
      </div>
    </div>
    </div>
    <div class="client1">
    <div class="row">
      <div class="col-md-2">
        <div class="listing">
        <a href="#" title="itc"><img src="img/itc.jpg" alt="SABMiller" class="img-responsive"></a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="listing">
        <a href="#" title="Addax and Oryx"><img src="img/ee.jpg" alt="SABMiller" class="img-responsive"></a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="listing">
        <a href="#" title="tetrapak"><img src="img/tetrapak.jpg" alt="SABMiller" class="img-responsive"></a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="listing">
      <a href="#" title="Addax and Oryx"><img src="img/lakhme.jpg" alt="SABMiller" class="img-responsive"></a>
      </div>
    </div>
      <div class="col-md-2">
        <div class="listing">
        <a href="#" title="Addax and Oryx"><img src="img/ADIE.png" alt="SABMiller" class="img-responsive"></a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="listing">
        <a href="#" title="nyanza"><img src="img/nyanza.jpg" alt="SABMiller" class="img-responsive"></a>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="certification text-center">
      <ul class="list-inline">
        <li class="success">Certification</li>
        <li><a href="#"><img src="img/certificate1.jpg" alt="Certificate"></a></li>
        <li><a href="#"><img src="img/certificate2.jpg" alt="Certificate"></a></li>
        <li><a href="#"><img src="img/certificate3.jpg" alt="Certificate"></a></li>
      </ul>
  </div>
</div>
