<div class="client-banner">
  <div class="container">
    <div class="careers-text">
      <h2><a href="#">clients</a></h2>
      <a href="#"><img src="" class="img-responsive"></a>
    </div>
  </div>
  <div class="ribbon">
    <a href=""><img src="" class="img-responsive"></a>
  </div>
  <div class="ribbon">
    <a href=""><img src="" class="img-responsive"></a>
  </div>
</div>
</div>
<div class="client-intro">
  <div class="container">
    <div class="client-info text-center">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi illo nulla provident, excepturi consequatur. Non temporibus soluta accusamus consequuntur, fugit, ullam quidem saepe praesentium. Neque aliquam consectetur quisquam, voluptatum enimloremLorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi illo nulla provident, excepturi consequatur. Non temporibus soluta accusamus consequuntur, fugit, ullam quidem saepe praesentium. Neque aliquam consectetur quisquam, voluptatum enimlorem.</p>
    </div>
    <div class="client-types text-center">
      <ul class="list-inline">
        <li><a href="#">food and beverages</a></li>
        <li><a href="#">pharma and agro</a></li>
        <li><a href="#">oil and gas engineering</a></li>
        <li><a href="#">home and personal care</a></li>
      </ul>
    </div>
    <div class="clients text-center">
      <ul class="list-inline">
        <li><a href="#">sab</a></li>
        <li><a href="#">carlsberg</a></li>
        <li><a href="#">hindustan</a></li>
        <li><a href="#">gsk</a></li>
        <li><a href="#"></a></li>
        <li><a href="#">diageo</a></li>
      </ul>
      <ul class="list-inline">
        <li><a href="#">spageti</a></li>
        <li><a href="#">tanzania</a></li>
        <li><a href="#">zieman</a></li>
        <li><a href="#">cococola</a></li>
        <li><a href="#">kals</a></li>
        <li><a href="#">spx</a></li>
      </ul>
      <ul class="list-inline">
        <li><a href="#">cadbury</a></li>
        <li><a href="#">casella</a></li>
        <li><a href="#">krones</a></li>
        <li><a href="#">laval</a></li>
        <li><a href="#">pepsico</a></li>
        <li><a href="#">abbot</a></li>
      </ul>
      <ul class="list-inline">
        <li><a href="#">itc</a></li>
        <li><a href="#">e and e</a></li>
        <li><a href="#">tetra</a></li>
        <li><a href="#">lakhme</a></li>
        <li><a href="#">adie</a></li>
        <li><a href="#">bronzo</a></li>
      </ul>
    </div>
    <div class="certification text-center">
      <span>certification</span>
      <ul class="list-inline">
        <li>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
