<div class="container">
    <div class="address-info">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="address">
                    <h3 class="success">Corporate Address</h3>
                    <address>
                      Office no.7,8,9,6th Flr,Lodha Supremus,1293/1, Address 2: 1294/3 to 7,
                        <br>
                        Village Kanjurmarg, Kanjurmarg(E), City: Mumbai, Maharashtra, India,
                        <br>
                        PIN: 400042.
                      </address>
                </div>
                <div class="map">

                </div>
            </div>
        </div>
    </div>

    <div class="certification text-center">
        <ul class="list-inline">
          <li class="success">Certification</li>
          <li><a href="#"><img src="img/cetificate1.jpg" alt="Certificate"></a></li>
          <li><a href="#"><img src="img/cetificate2.jpg" alt="Certificate"></a></li>
          <li><a href="#"><img src="img/cetificate3.jpg" alt="Certificate"></a></li>
        </ul>
    </div>
</div>
