<div class="container">
    <div class="info">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10 ">
                <!-- <div class="address">
                    <h3 class="success">Corporate Address:</h3>
                    <address>
                    Office no: 7, 8, 9, 6th Floor, Lodha Supremus, 1293/1, Address 2: 1294/3 to 7,
                        <br>
                      Village Kanjurmarg, Kanjurmarg(E), City: Mumbai, Maharashtra, India,
                        <br>
                        PIN: 400042.
                      </address>



                </div> -->
                <!-- <div class="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15085.884131032759!2d72.87420820018582!3d19.043016866360404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8b4435285c3%3A0x3a486321a373e2bc!2sR+D+Engineering!5e0!3m2!1sen!2sin!4v1460809801335" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div> -->
                <div class="addresses">
                    <h2 class="success uppercase">offices:</h2>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="address">
                          <h2 class="success">India</h2>
                          <address>
                            Office Nos - 607,608,609, 6th Floor,
                              <br>
                          Lodha Supremus, Kanjurmarg (East),
                              <br>
                              Mumbai 400042, Maharashtra, India

                            </address>
                            <a href="tel:+91 22 20851212" class="new">+91 22 20851212 </a>
                             <a href="tel:+91 22 20851414" class="new">/  +91 22 20851414</a>
                             <a href="mailto:sales@rd-engineering.com" class="new block  pad">sales@rd-engineering.com</a>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="address">
                          <h2 class="success">Uganda</h2>
                          <address>
                            Post Box No 2903,
                              <br>
                          Kampala, Uganda,
                            </address>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="address">
                          <h2 class="success">Tanzania</h2>
                          <address>
                          Avalon House 1st floor,
                              <br>
                              Zanaki Street,P O Box 38317,
                              <br>
                              Dar Es Salaam, Tanzania
                            </address>


                               <a href="tel:+255222120000" class="new block ">+255222120000</a>
                                <a href="mailto:sales@rdfabrica.com" class="new block  pad">sales@rdfabrica.com</a>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="address">
                          <h2 class="success">South Africa</h2>
                          <address>
                            6th Floor, Office Block1, The Cliffs,
                              <br>
                              3 Niagara Road, Tyger Falls, Bellville,
                              <br>
                            Cape Town, ZA, 7530
                            </address>
                               <a href="tel:+27119141137" class="new  text-center">+27119141137</a>
                                  <a href="tel:+27119141019" class="new ">/+27119141019</a>
                                <a href="mailto:sales@rdfabrica.com" class="new block pad">sales@rdfabrica.com</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
