<div class="banner">
  <div class="container">
    <div class="banner-text">
      <h2><a href="#">contact us</a></h2>
      <a href="#"><img src="" class="img-responsive"></a>
    </div>
  </div>
</div>
<div class="container">
  <div class="address-info">
    <div class="ribbon">
      <a href=""><img src="" class="img-responsive"></a>
    </div>
    <div class="ribbon">
      <a href=""><img src="" class="img-responsive"></a>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-10">
    <div class="address">
      <h2>corporate address</h2>
      <address>office no:7,8,9,6th flr,lodha supremus,1293/1,address 2:1294/3 to 7,village kanjurmarg,kanjurmarg(e),city:mumbai,maharashtra,india.
        pin:400042
      </address>
      </div>
    <div class="map">
      <iframe></iframe>
    </div>
  </div>
  </div>
  </div>
  <div class="certifications text-center">
    <span>certification</span>
    <ul class="list-inline">
      <li>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
      </li>
    </ul>
  </div>
</div>
