<div class="csr">
<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
      <div class="csr-info">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 ">
    <img src="img/new/CSR3.jpg" class="img-responsive">
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 ">
      <p class="primary">We have collaborated with The Bosco Udyogshala Industrial Training Centre, an initiative of Don Bosco, Kudal in Maharashtra, India. This institute, with the help of our qualified technicians, provide practical training facilities to the rural youth of the area. We offer training in all types of welding ranging from ARC, GAS, TIG and MIG to equip the youth for a long term career and better future.
</p>
    </div>
  </div>
  </div>
  <div class="overview-image">
    <div class="row">
      <div class="col-md-6">
            <div class="imaging-hold" ng-style="{'background-image':'url(img/CSR1.jpg)'}">
      </div>
    </div>
      <div class="col-md-6">
            <div class="imaging-hold" ng-style="{'background-image':'url(img/CSR2.jpg)'}">
      </div>
    </div>
      <!-- <div class="col-md-8 padding0 col-sm-8 col-xs-12">
        <div class="myclis">
        <ul class="padding0 ">
          <li>
            <div class="imaging-hold" ng-style="{'background-image':'url(img/new/CSR2.jpg)'}">
            </div>
          </li>
          <li>
            <div class="imaging-hold" ng-style="{'background-image':'url(img/menplanting.jpg)'}">
          </div>
          </li>
          <li>
            <div class="imaging-hold" ng-style="{'background-image':'url(img/new/CSR3.jpg)'}">
            </div>
          </li>
          <li>
            <div class="imaging-hold" ng-style="{'background-image':'url(img/new/CSR4.jpg)'}">
            </div>
          </li>
        </ul>
        </div>
      </div>
      <div class="col-md-4 padding0 col-sm-4 col-xs-12">
        <div class="imaging-side" ng-style="{'background-image':'url(img/hands.jpg)'}">
        </div>
      </div> -->
    </div>
  </div>
  </div>
  </div>
</div>
</div>
