<div class="csr-banner">
  <div class="container">
    <div class="csr-text">
      <h2><a href="#">csr</a></h2>
      <a href="#"><img src="" class="img-responsive"></a>
    </div>
  </div>
</div>
<div class="container">
  <div class="ribbon">
    <a href=""><img src="" class="img-responsive"></a>
  </div>
  <div class="ribbon">
    <a href=""><img src="" class="img-responsive"></a>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-10">
  <div class="row">
    <div class="col-md-6">
      <a href="#"><img src="" class="img-responsive"</a>
    </div>
    <div class="col-md-6">
      <p>we recruited well qualified technicians as well as provide industrial training to candidates at the bosco udyogshala industrial training center.our industry also caters to rural,underpriveleged youngsters who need a break in life and help them transform their lives as well as their families.we even offer training in all types of welding ranging from ARC,GAS,TIG and MIG welding process as well as providing youngsters with an opportunity to acess world class training facilities</p>
    </div>
  </div>
  <div class="overview-images">
    <div class="row-flex">
      <div class="col-flex">
        <div class="row-flex">
          <div class="col-flex"></div>
          <div class="col-flex"></div>
        </div>
        <div class="row-flex">
          <div class="col-flex"></div>
          <div class="col-flex"></div>
        </div>
      </div>
      <div class="col-flex">
        <a href="#"><img src="" alt=""></a>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="certifications text-center">
    <span>certification</span>
    <ul class="list-inline">
      <li>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
      </li>
    </ul>
  </div>
</div>
