<div class="csr">
<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
      <div class="csr-info">
  <div class="row">
    <div class="col-md-6 col-sm-6">
    <img src="img/plant.jpg" class="img-responsive">
    </div>
    <div class="col-md-6 col-sm-6">
      <p class="primary">We recruited well qualified technicians as well as provide industrial training to our candidates at the Bosco Udyogshala Industrial Training Centre. Our institute also caters to rural, underprivileged youngsters who need a break in life and help them transform their lives as well as their families. We even offer training in all types of welding ranging from ARC, GAS, TIG and MIG welding process as well as providing youngsters with an opportunity to access world class training facilities. </p>
    </div>
  </div>
  </div>
  <div class="overview-image">
    <div class="row padding0">
      <div class="col-md-8 padding0 col-sm-8">
        <div class="mycl">
        <ul class="padding0 ">
          <li>
            <div class="image-hold" ng-style="{'background-image':'url(img/sc.jpg)'}">
            </div>
          </li>
          <li>
            <div class="image-hold" ng-style="{'background-image':'url(img/menplanting.jpg)'}">
          </div>
          </li>
          <li>
            <div class="image-hold" ng-style="{'background-image':'url(img/children.jpg)'}">
            </div>
          </li>
          <li>
            <div class="image-hold" ng-style="{'background-image':'url(img/girls.jpg)'}">
            </div>
          </li>
        </ul>
        </div>
      </div>
      <div class="col-md-4 padding0 col-sm-4">
        <div class="imag-side" ng-style="{'background-image':'url(img/hands.jpg)'}">
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="certification text-center">
      <ul class="list-inline">
        <li class="success">Certification</li>
        <li><a href="#"><img src="img/certificate1.jpg" alt="Certificate"></a></li>
        <li><a href="#"><img src="img/certificate2.jpg" alt="Certificate"></a></li>
        <li><a href="#"><img src="img/certificate3.jpg" alt="Certificate"></a></li>
      </ul>
  </div>
</div>
</div>
