<div class="slider">
  <flex-slider flex-slide="s in mySlides track by $index">
    <li>
      <img ng-src="{{s}}">
    </li>
  </flex-slider>
</div>
<div class="overview">
  <div class="ribbon2">
    <img src="img/rib.png" class="img-responsive" width="350"></div>
<div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-9s">
        <h2>overview</h2>
        <div class="row">
          <div class="col-md-6">
            <p class="text">We are a mechanical engineering firm involved in undertaking engineering procurement and construction (EPC) contracts for Structures, Piping, Tankage and Equipment Erection across India and overseas for the last 40 years. Our head quarter is in Mumbai in addition to our manufacturing facilities at Aurangabad and Goa in India..</p>
            <div class="small-triangle pull-right">
            <span class="texts"><a href="#">know more</a></span>
            </div>
          </div>
          <div class="col-md-4">
            <p>Undertaking Engineering Procurement and Construction (EPC) contracts for structures,Piping,Tankages and Equipment Erection in Africa has added to its group experience of more than 40 years.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="overview-images">
  <div class="container-fluid">
    <div class="row padding0">
      <div class="col-md-8 padding0 ">
        <div class="mycl">
        <ul class="padding0 ">
          <li>
            <a href="#">
              <div class="image-holder">
            <div class="image-hold" ng-style="{'background-image':'url(img/c2.jpg)'}">
            </div>
            </div>
              </a>
          </li>
          <li>
            <a href="#">
              <div class="image-holder">
            <div class="image-hold" ng-style="{'background-image':'url(img/c1.jpg)'}">
            </div>
          </div>
          </a>
          </li>
          <li>
              <a href="#">
                <div class="image-holder">
            <div class="image-hold" ng-style="{'background-image':'url(img/blue.jpg)'}">
            </div>
            </div>
              </a>
          </li>
          <li>
               <a href="#">
                 <div class="image-holder">
            <div class="image-hold" ng-style="{'background-image':'url(img/pipes.jpg)'}">
            </div>
            </div>
              </a>
          </li>
        </ul>
        </div>
      </div>
      <div class="col-md-4 padding0">
         <a href="#">
           <div class="image-holder">
        <div class="imag-side" ng-style="{'background-image':'url(img/c3.jpg)'}">
        </div>
        </div>
        </a>
      </div>
    </div>
  </div>
  <div class="ribbon1">
  <img src="img/ribons.png" class="img-responsive" width="350">
  </div>
</div>

<div class="clients">
  <div class="container">
    <h2 class="text-center">clients</h2>
    <div class="clients1">
      <ul class="list-inline">
        <li>
          <div class="listing">
          <a href="#" title="Addax and Oryx"><img src="img/addaxfond.jpg" alt="Addax and Oryx" class="img-responsive"></a>
          </div>
        </li>
        <li>
          <div class="listing">
            <a href="#" title="Gabriel"><img src="img/gabriel.jpg" alt="Gabriel" class="img-responsive"></a>
             </div>
          </li>
        <li>
            <div class="listing">
          <a href="#" title="Reliance"><img src="img/reliance.jpg" alt="Reliance" class="img-responsive"></a>
        </div>
      </li>
        <li>
          <div class="listing">
            <a href="#" title="Tetra pak"><img src="img/tetrapak.jpg" alt="Tetra pak" class="img-responsive"></a>
          </div>

            </li>
        <li>
          <div class="listing">
            <a href="#" title="Serengeti breweries"><img src="img/serengeti.jpg" alt="Serengeti breweries" class="img-responsive"></a>
          </div>
       </li>
      </ul>
    </div>
    <div class="clients2">
      <ul class="list-inline">
        <li>
          <div class="listing">
          <a href="#" title="Unilever"><img src="img/Unilever.jpg" alt="Unilever" class="img-responsive"></a>
        </div>
      </li>
        <li>
          <div class="listing">
          <a href="#" title="Tanzania breweries"><img src="img/brew.jpg" alt="Tanzania breweries" class="img-responsive"></a>
        </div>
      </li>
        <li>
          <div class="listing">
          <a href="#" title="SABMiller"><img src="img/SABMiller.jpg" alt="SABMiller" class="img-responsive"></a>
        </div>
      </li>
        <li>
          <div class="listing">
          <a href="#" title="Endress-Hauser"><img src="img/Endress.jpg" alt="Endress-Hauser" class="img-responsive"></a>
        </div>
      </li>
        <li>
          <div class="listing">
          <a href="#" title="Huhtamaki"><img src="img/huhtamaki.jpg" alt="Huhtamaki" class="img-responsive"></a>
        </div>
      </li>
      </ul>
    </div>
  </div>
</div>
<div class="home-banner">
  <a href="#">
    <div class="setbanner-hover">
  <img src="img/banner.jpg" class="img-responsive">
</div>
</a>
  <div class="container">
    <div class="home-bannertext">
        <div class="triangle"></div>
    <p>quality is our <br>prime objective by <br>ensuring it with <br>quality assurance plan.</p>
  </div>
  </div>
</div>
<div class="certifications text-center">
  <div class="container">
    <h3>certification</h3>
    <ul class=" list list-inline">
      <li><a href="#"><img src="img/certificate1.jpg" alt="Certificate"></a></li>
      <li><a href="#"><img src="img/certificate2.jpg" alt="Certificate"></a></li>
      <li><a href="#"><img src="img/certificate3.jpg" alt="Certificate"></a></li>
    </ul>
  </div>
</div>
