<div class="slider">
  <flex-slider flex-slide="s in mySlides">
    <li>
      <img ng-src="{{s}}">
    </li>
  </flex-slider>
</div>
<div class="overview">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-11">
        <h2>overview</h2>
        <div class="row">
          <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At reprehenderit alias, voluptatem fuga eum saepe quo sit quia, neque laudantium quaerat sequi amet odit ad provident quas cum quos repudiandae.</p>
            <span><a href="#">know more..</a></span>
          </div>
          <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores velit, distinctio! Debitis aliquam ipsam voluptatum voluptatem nihil! Corporis eum asperiores error alias quia magni numquam amet. Debitis distinctio quos hic.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="ribbon">
      <img src="" alt="" class="img-responsive">
    </div>
    <div class="ribbon">
      <img src="" alt="" class="img-responsive">
    </div>
  </div>
</div>
<div class="overview-images">
  <div class="row-flex">
    <div class="col-flex">
      <div class="row-flex">
        <div class="col-flex"></div>
        <div class="col-flex"></div>
      </div>
      <div class="row-flex">
        <div class="col-flex"></div>
        <div class="col-flex"></div>
      </div>
    </div>
    <div class="col-flex">
      <a href="#"><img src="" alt=""></a>
    </div>
  </div>
</div>
<div class="clients">
  <div class="container">
    <h2 class="text-center">clients</h2>
    <div class="clients1">
      <ul class="list-inline">
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
    <div class="clients1">
      <ul class="list-inline">
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="banner">
  <div class="container">
    <a href="#"></a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum quidem pariatur distinctio impedit ad, placeat ipsam quisquam autem nam corporis explicabo aliquid dolore ipsum error repellat maxime! Repellendus, perspiciatis minus.</p>
  </div>
</div>
<div class="certification">
  <div class="container">
    <h3 class="text-center">certification</h3>
    <ul class="list-inline">
      <li>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
      </li>
    </ul>
  </div>
</div>
