<div class="slider">
  <flex-slider flex-slide="s in mySlides track by $index">
    <li>
      <img ng-src="{{s}}">
    </li>
  </flex-slider>
</div>
<div class="overview">
  <div class="ribbon2">
    <img src="img/rib.png" class="img-responsive" width="350">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-9s col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10">
        <h2>overview</h2>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <p class="text">We are a mechanical engineering firm involved in undertaking engineering procurement and construction (EPC) contracts for Structures, Piping, Tankage and Equipment Erection across India and overseas for the last 40 years. Our head quarter
              is in Mumbai in addition to our manufacturing facilities at Aurangabad and Goa in India..</p>
            <div class="small-triangle pull-right">
              <span class="texts"><a href="#">know more</a></span>
            </div>
          </div>
          <div class="col-md-4 col-sm-12  col-xs-12">
            <p>Undertaking Engineering Procurement and Construction (EPC) contracts for structures,Piping,Tankages and Equipment Erection in Africa has added to its group experience of more than 40 years.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="overview-images">
  <div class="container-fluid">
    <div class="row padding0">
      <!-- <pre>{{key}}</pre> -->
      <!-- <pre>{{value}}</pre> -->
      <div class="col-md-8 padding0  col-sm-8 col-xs-12">
        <div class="mycl">
          <ul class="padding0" ng-repeat="sec in AllSectors[1]">
            <li>
              <a ui-sref="sectors({id:sec.id,name:trimForURL(sec.name)})">
                <div class="image-holder">
                  <span class="name text-uppercase">
                {{sec.name}}
                </span>
                  <div class="image-hold" ng-style="{'background-image':'url({{sec.image1 | serverimage}})'}">
                  </div>
                </div>
              </a>
            </li>
            <!-- <li>
            <a href="#">
              <div class="image-holder">
            <div class="image-hold" ng-style="{'background-image':'url(img/c1.jpg)'}">
            </div>
          </div>
          </a>
          </li>
          <li>
              <a href="#">
                <div class="image-holder">
            <div class="image-hold" ng-style="{'background-image':'url(img/blue.jpg)'}">
            </div>
            </div>
              </a>
          </li>
          <li>
               <a href="#">
                 <div class="image-holder">
            <div class="image-hold" ng-style="{'background-image':'url(img/pipes.jpg)'}">
            </div>
            </div>
              </a>
          </li> -->
          </ul>
        </div>
      </div>
      <div class="col-md-4 padding0 col-sm-4 col-xs-12">
        <!-- {{AllSectors[2]}} -->
        <a ui-sref="sectors({id:sec.id,name:trimForURL(sec.name)})" ng-repeat="sec in AllSectors[2]">
          <div class="image-holder">
            <span class="name text-uppercase">
              {{sec.name}}
             </span>
            <div class="imag-side" ng-style="{'background-image':'url({{sec.image1 | serverimage}})'}">
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- <div class="ribbon1">
  <img src="img/ribons.png" class="img-responsive" width="350">
  </div> -->
</div>

<div class="clients">
  <div class="container">
    <h2 class="text-center">clients</h2>
    <div class="clients1">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-4" ng-repeat="client in AllClients | limitTo:8">
          <div class="listing">
            <!-- <a href="#" title="Addax and Oryx"><img ng-src="{{client.logo|serverimage}}" alt="Addax and Oryx" class="img-responsive"></a> -->
            <a ui-sref="clients" title="Addax and Oryx"><img ng-src="{{client.logo|serverimage}}" alt="Addax and Oryx" class="img-responsive"></a>
          </div>
        </div>
        <!-- <div class="col-md-2 col-sm-2 col-xs-4">
          <div class="listing">
            <a href="#" title="Gabriel"><img src="img/gabriel.jpg" alt="Gabriel" class="img-responsive"></a>
             </div>
          </div>
        <div class="col-md-2 col-sm-2 col-xs-4">
            <div class="listing">
          <a href="#" title="Reliance"><img src="img/reliance.jpg" alt="Reliance" class="img-responsive"></a>
        </div>
      </div>
        <div class="col-md-2 col-sm-2 col-xs-4">
          <div class="listing">
            <a href="#" title="Tetra pak"><img src="img/tetrapak.jpg" alt="Tetra pak" class="img-responsive"></a>
          </div>

        </div>
        <div class="col-md-3 col-sm-3 col-xs-4">
          <div class="listing">
            <a href="#" title="Serengeti breweries"><img src="img/serengeti.jpg" alt="Serengeti breweries" class="img-responsive"></a>
          </div>
       </div> -->
        <!-- </div>
    </div>
    <div class="clients2">
      <div class="row"> -->
        <!-- <div class="col-md-2 col-sm-2 col-xs-4">
          <div class="listing">
          <a href="#" title="Unilever"><img src="img/Unilever.jpg" alt="Unilever" class="img-responsive"></a>
        </div>
      </div>
        <div class="col-md-2 col-sm-2 col-xs-4">
          <div class="listing">
          <a href="#" title="Tanzania breweries"><img src="img/brew.jpg" alt="Tanzania breweries" class="img-responsive"></a>
        </div>
      </div>
        <div class="col-md-2 col-sm-2 col-xs-4">
          <div class="listing">
          <a href="#" title="SABMiller"><img src="img/SABMiller.jpg" alt="SABMiller" class="img-responsive"></a>
        </div>
      </div>
        <div class="col-md-3 col-sm-2  col-xs-4">
          <div class="listing">
          <a href="#" title="Endress-Hauser"><img src="img/Endress.jpg" alt="Endress-Hauser" class="img-responsive"></a>
        </div>
      </div>
        <div class="col-md-3 col-sm-3 col-xs-4">
          <div class="listing">
          <a href="#" title="Huhtamaki"><img src="img/huhtamaki.jpg" alt="Huhtamaki" class="img-responsive"></a>
        </div>
      </div> -->
      </div>
    </div>
  </div>
</div>
<div class="home-banner">
  <a href="#">
    <div class="setbanner-hover">
      <img src="img/banner.jpg" class="img-responsive">
    </div>
  </a>
  <div class="container">
    <div class="home-bannertext">
      <div class="triangle"></div>
      <p>quality is our
        <br>prime objective by
        <br>ensuring it with
        <br>quality assurance plan.</p>
    </div>
  </div>
</div>
<div class="certifications text-center">
  <div class="container">
    <h3>certification</h3>
    <ul class=" list list-inline">
      <li>
        <a href="#"><img src="img/cer21.jpg" alt="Certificate"></a>
      </li>
      <li>
        <a href="#"><img src="img/cer31.jpg" alt="Certificate"></a>
      </li>
      <li>
        <a href="#"><img src="img/cer11.jpg" alt="Certificate"></a>
      </li>
    </ul>
  </div>
</div>
