<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
      <div class="pipings-text">
        <p>Design, fabrication and erection of CS/SS piping using latest Orbital welding technology and IBR related piping and installation for food, pharma and chemical process industry. </p>
        <p>R.D. Engineering has the necessary experience to handle any piping work. A wide range of process industry or high purity pipeline for food, beverages, pharma and personal care products in different grades of stainless steel.The company is equipped with the latest orbital welding machines with feed wire facility and boroscopy testing for remote visual inspection as part of the quality control programme. </p>
        <p>The company has executed underground / cross country LPG piping for 12” diameter and above, running into several hundred meters in industrial or part areas.</p>
      </div>
      <div class="accordion">
        <h2 class="text-uppercase text-center">services</h2>
          <uib-accordion close-others="oneAtATime">
        <uib-accordion-group is-open="status.open1">
       <uib-accordion-heading>
        CS NB SLMS IBR PIPING  <i class="pull-right fa " ng-class="{'fa fa-minus': status.open1, 'fa fa-plus': !status.open1}"></i>
       </uib-accordion-heading>
       This is just some content to illustrate fancy headings.
     </uib-accordion-group>
        <uib-accordion-group is-open="status.open2">
       <uib-accordion-heading>
        CS NB SLMS NON-IBR PIPING <i class="pull-right fa " ng-class="{'fa fa-minus': status.open2, 'fa fa-plus': !status.open2}"></i>

       </uib-accordion-heading>
       This is just some content to illustrate fancy headings.
     </uib-accordion-group>
     <uib-accordion-group is-open="status.open3">
    <uib-accordion-heading>
     CS NB SLMS NON-IBR PIPING <i class="pull-right fa " ng-class="{'fa fa-minus': status.open3, 'fa fa-plus': !status.open3}"></i>

    </uib-accordion-heading>
    This is just some content to illustrate fancy headings.
  </uib-accordion-group>
  <uib-accordion-group is-open="status.open4">
 <uib-accordion-heading>
  CS ERW <i class="pull-right fa " ng-class="{'fa fa-minus': status.open4, 'fa fa-plus': !status.open4}"></i>
 </uib-accordion-heading>
 This is just some content to illustrate fancy headings.
</uib-accordion-group>
<uib-accordion-group is-open="status.open5">
<uib-accordion-heading>
GI PIPING <i class="pull-right fa " ng-class="{'fa fa-minus': status.open5, 'fa fa-plus': !status.open5}"></i>
</uib-accordion-heading>
This is just some content to illustrate fancy headings.
</uib-accordion-group>
<uib-accordion-group is-open="status.open6">
<uib-accordion-heading>
SS NB PIPING<i class="pull-right fa " ng-class="{'fa fa-minus': status.open6, 'fa fa-plus': !status.open6}"></i>
</uib-accordion-heading>
This is just some content to illustrate fancy headings.
</uib-accordion-group>
   </uib-accordion>
      </div>
    </div>
  </div>
  </div>
</div>
