<div class="team">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
    <h2 class="text-center success teams">meet the team</h2>
    <div class="row">
      <div class="col-md-4">
    <div class="chairman">
      <div class="chairman-image">
        <img src="img/chairman.png" alt="chairman" class="img-responsive">
      </div>
      </div>
      </div>
      <div class="col-md-8">
      <div class="chairman-text">
        <h2>mr.randolph denzil vaz</h2>
        <h3>chairman</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ea modi repellendus voluptates saepe. Reprehenderit nostrum necessitatibus quibusdam delectus. Earum quo fugiat mollitia et voluptate aliquam suscipit fuga officia, voluptatum.</p>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-8">
      <div class="director-optext text-right">
        <h2>mr.richard vaz</h2>
        <h3>director(operations)</h3>
        <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ea modi repellendus voluptates saepe. Reprehenderit nostrum necessitatibus quibusdam delectus. Earum quo fugiat mollitia et voluptate aliquam suscipit fuga officia, voluptatum.</p>
      </div>
    </div>
    <div class="col-md-4">
  <div class="director-operations">
    <div class="director-opimage">
      <img src="img/director.png" alt="" class="img-responsive">
    </div>
  </div>
    </div>
</div>
  <div class="row finance">
    <div class="col-md-4">
    <div class="director-finance">
      <div class="director-finimage">
        <img src="img/finance.png" alt="" class="img-responsive">
      </div>
    </div>
      </div>
    <div class="col-md-8">
      <div class="director-fintext">
        <h2>mr.ryan vaz</h2>
        <h3>director(finance/operation)</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ea modi repellendus voluptates saepe. Reprehenderit nostrum necessitatibus quibusdam delectus. Earum quo fugiat mollitia et voluptate aliquam suscipit fuga officia, voluptatum.</p>
      </div>
    </div>
    </div>
    </div>
  </div>
  <div class="certification text-center">
      <ul class="list-inline">
        <li class="success">Certification</li>
        <li><a href="#"><img src="img/certificate1.jpg" alt="Certificate"></a></li>
        <li><a href="#"><img src="img/certificate2.jpg" alt="Certificate"></a></li>
        <li><a href="#"><img src="img/certificate3.jpg" alt="Certificate"></a></li>
      </ul>
  </div>
</div>
