<div class="team">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-10">
    <h2>meet the team</h2>
    <div class="chairman">
      <div class="chairman-image">
        <img src="" alt="" class="img-responsive">
      </div>
      <div class="chairman-text">
        <h2>mr.randolph denzil vaz</h2>
        <h3>chairman</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ea modi repellendus voluptates saepe. Reprehenderit nostrum necessitatibus quibusdam delectus. Earum quo fugiat mollitia et voluptate aliquam suscipit fuga officia, voluptatum.</p>
      </div>
    </div>
    <div class="director-operations">
      <div class="director-opimage">
        <img src="" alt="" class="img-responsive">
      </div>
      <div class="director-optext">
        <h2>mr.richard vaz</h2>
        <h3>director(operations)</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ea modi repellendus voluptates saepe. Reprehenderit nostrum necessitatibus quibusdam delectus. Earum quo fugiat mollitia et voluptate aliquam suscipit fuga officia, voluptatum.</p>
      </div>
    </div>
    <div class="director-finance">
      <div class="director-finimage">
        <img src="" alt="" class="img-responsive">
      </div>
      <div class="director-fintext">
        <h2>mr.ryan vaz</h2>
        <h3>director(finance/operation)</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ea modi repellendus voluptates saepe. Reprehenderit nostrum necessitatibus quibusdam delectus. Earum quo fugiat mollitia et voluptate aliquam suscipit fuga officia, voluptatum.</p>
      </div>
    </div>
    </div>
    </div>
    <div class="certifications text-center">
      <span>certification</span>
      <ul class="list-inline">
        <li>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
