<div class="container">
<div class="mission">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
  <div class="row">
    <h2 class="success header">mission</h2>
    <div class="col-md-8">
      <ul>
        <li>Our Mission Statement has been adopted as our Objective of the company.</li>
        <li>Quality is our prime Objective by ensuring it by Quality Assurance Plan.</li>
        <li>Quality Assurance is End to End Quality Plan with Quality Control
            Documents.</li>
        <li>Safety is the next Objective to ensure the Execution of Job.</li>
        <li>	Our Safety team is well trained with clear focus on human safety as well as
            Environment.</li>
        <li>Timely Deliverance is last and major objective..</li>
        <li>To ensure Timely Objective Randen plan job schedule with target deadlines..</li>
        <li>	To achieve the same we ensure sufficient resources are deployed.</li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="mission-image">
      <img src="img/Mission.jpg" alt="machinery" class="img-responsive">
    </div>
    </div>

  </div>
  <div class="row">
    <h2 class="success header">vission</h2>
    <div class="col-md-12">
<div class="vision">
    <p>Randen Engineering Pvt. Ltd believes in Quality Job with Safety Environment and Timely Deliverance with cost effective solutions by offering premium quality services at competitive price.</p>
      <ul>
        <li>Keeping pace with Global Technological Innovation continual improvement in our service quality with all aspect of the Mechanical Engineering.</li>
        <li>To meet the customer satisfaction up to their expectations</li>
      </ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
