<div class="container">
<div class="mission">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
  <div class="row">
      <div class="col-md-7">
        <div class="missions">
    <h2 class="success header">mission</h2>
      <ul>
        <li>To be the first partner of choice for our clients across all areas of our operations, both in engineering services and geographies.</li>
        <li>To provide the best value proposition for our clients and partner them in their long term growth and help achieve their business goals. </li>
        <li>To operate within the parameters of best-in-class international standards, be it quality or safety or project management.</li>
      </ul>
    </div>
    <div class="vissions">
<h2 class="success header">vision</h2>
<ul>
  <li>To be recognised among the top 3 organisations in our area of operation by offering  expertise, innovation and quality.</li>
  <li>To meet and be ahead of the evolving needs of the industry in terms of offering the most appropriate solutions to our clients.
</li>
<li>To invest and develop talent across the globe to offer the best skilled expertise on-site and off-site.</li>
<li>Partner with the world's best and continually benchmark ourselves on global standards across all functions.</li>
</ul>
</div>
</div>


    <div class="col-md-5">
      <div class="mission-image">
      <img src="img/new/vision-banner.jpg" alt="machinery" class="img-responsive">
    </div>
    </div>

  </div>
  <!-- <div class="row">
    <h2 class="success header">vision</h2>
    <div class="col-md-12">
<div class="vision">

      <ul>
        <li>To be recognised among the top 3 organisations in our area of operation by offering  expertise, innovation and quality.</li>
        <li>To meet and be ahead of the evolving needs of the industry in terms of offering the most appropriate solutions to our clients.
</li>
<li>To invest and develop talent across the globe to offer the best skilled expertise on-site and off-site.</li>
<li>Partner with the worlds best and continually benchmark ourselves on global standards across all functions.</li>
      </ul>



</div>
</div>
</div> -->
</div>
</div>
</div>
</div>
