<div class="mission">
  <div class="row">
    <div class="col-md-offset-2 col-md-10">
  <div class="row">
    <h2>mission</h2>
    <div class="col-md-6">
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <img src="" alt="" class="img-responsive">
    </div>
  </div>

<div class="vision">
    <h2>vision</h2>
    <p>runt optio illo mollitia et aliquam quam hic veniam enim quaerat pariatur ipsa?</p>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
      </ul>
</div>
</div>
</div>
</div>
