
<div class="piping">
  <div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="piping-text">
        <p>Design, fabrication and erection of CS/SS piping using latest Orbital welding technology and IBR related piping and installation for food, pharma and chemical process industry. </p>
        <p>R.D. Engineering has the necessary experience to handle any piping work. A wide range of process industry or high purity pipeline for food, beverages, pharma and personal care products in different grades of stainless steel.The company is equipped with the latest orbital welding machines with feed wire facility and boroscopy testing for remote visual inspection as part of the quality control programme. </p>
        <p>The company has executed underground / cross country LPG piping for 12” diameter and above, running into several hundred meters in industrial or part areas.</p>
      </div>
    </div>
  </div>
  <div class="services">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="row">
          <div class="col-md-4">
            <h2 class="success">services</h2>
          </div>
          <div class="col-md-4">
            <div class="services-text">
            <p>Lorem Ipsum is a dummy text</p>
            <p>Lorem Ipsum is a dummy text</p>
            <p>Lorem Ipsum is a dummy text</p>
            <p>Lorem Ipsum is a dummy text</p>
          </div>
          </div>
          <div class="col-md-4">
              <div class="services-text">
            <p>Lorem Ipsum is a dummy text</p>
            <p>Lorem Ipsum is a dummy text.</p>
            <p>Lorem Ipsum is a dummy text</p>
            <p>Lorem Ipsum is a dummy text</p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="projects">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="row">
          <div class="col-md-4 address">
           <h3>projects</h3>
           <address>
             <span>Tetra pak(|) LTD,Pune</span><br>
             Unilever India LTD,Assam<br>
             Cadbury India,Baddi<br>
             Makson Industries Pvt Ltd,Bhopal<br>
             Nile Breweries,Uganda<br>
             Abbot nutrition Pvt Ltd,Ankleshwar<br>
             Unilever India LTD,Assam<br>
             Cadbury India,Baddi<br>
             Makson Industries Pvt Ltd,Bhopal<br>
           </address>
          </div>
          <div class="col-md-7">
            <div class="piping-image">
            <img src="img/piping.jpg" class="img-responsive" alt="pune-industry">
             <div  class="pull-left factory">Tetra pak(|) LTD,<span class="success">Pune</span></div>
            <div class="pull-right"><span class="reading"><a href="#">Read more</a></span><a class="read" href="#"><i class="fa fa-plus" aria-hidden="true"></i></a></div>
          </div>
          </div>
            <div class="col-md-1">
            <div class="arrows">
          <a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
<div class="client-speak">
  <div class="piping-arrow">
  <img src="img/as.png" class="img-responsive" alt="arrow">
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="row">
        <div class="col-md-3">
          <h2>clients<br> speak</h2>
        </div>
        <div class="col-md-6">
          <p class="clientspeaks">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
        <div class="col-md-3">
          <figure class="ceo">
        <img src="img/more.png" alt="ceo" class="img-responsive">
        <figcaption class="text-center primary">Richard Moore,CEO</figcaption>
        <span class="text-center">ABC Industries</span>
      </figure>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="certification text-center">
    <ul class="list-inline">
      <li class="success">Certification</li>
      <li><a href="#"><img src="img/certificate1.jpg" alt="Certificate"></a></li>
      <li><a href="#"><img src="img/certificate2.jpg" alt="Certificate"></a></li>
      <li><a href="#"><img src="img/certificate3.jpg" alt="Certificate"></a></li>
    </ul>
</div>
</div>
