<div class="container">
   <div class="row">
      <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
         <div class="pipings-text" ng-bind-html="SectorData.description">
            <!-- <p>{{SectorData.description}}</p> -->
            <!-- <p>Design, fabrication and erection of CS/SS piping using latest Orbital welding technology and IBR related piping and installation for food, pharma and chemical process industry. </p>
        <p>R.D. Engineering has the necessary experience to handle any piping work. A wide range of process industry or high purity pipeline for food, beverages, pharma and personal care products in different grades of stainless steel.The company is equipped with the latest orbital welding machines with feed wire facility and boroscopy testing for remote visual inspection as part of the quality control programme. </p>
        <p>The company has executed underground / cross country LPG piping for 12” diameter and above, running into several hundred meters in industrial or part areas.</p> -->
         </div>
         <div class="accordion">
            <h2 class="text-uppercase text-center">services</h2>
            <uib-accordion close-others="true">


               <uib-accordion-group is-open="status.open1" ng-repeat="data in SectorData.services">
                  <uib-accordion-heading>
                     {{data.name}} <i class="pull-right fa " ng-class="{'fa fa-minus': status.open1, 'fa fa-plus': !status.open1}"></i>
                  </uib-accordion-heading>
                  <div ng-bind-html="data.description" class="list-yes">
                  </div>

                  <!-- <div class="projects">
             <h2 class="text-uppercase">projects</h2>
             <div class="india" ng-repeat="proj in data.project">
             <h4>{{proj.title}}</h4>
             <div class="slides">
               <div class="row">
                 <div class="col-md-4" ng-repeat="img in proj.images">
                   <li>
                     <a href="{{img.image | serverimage}}" fancybox-box>
                     <img ng-src="{{img.image | serverimage}}" class="img-responsive" alt="">
                       </a>
                   </li>

                 </div> -->
                  <!-- <div class="col-md-4">
                     <img src="img/2.png" class="img-responsive" alt="">
                 </div>
                 <div class="col-md-4">
                     <img src="img/3.png" class="img-responsive" alt="">
                 </div> -->
                  <!-- </div>
             </div>
             </div> -->
                  <!-- <div class="sri-lanka">
             <h4>Unilever Sri Lanka</h4>
             <div class="slides">
               <div class="row">
                 <div class="col-md-4">
                   <img src="img/1.png" class="img-responsive" alt="">
                 </div>
                 <div class="col-md-4">
                     <img src="img/2.png" class="img-responsive" alt="">
                 </div>
                 <div class="col-md-4">
                     <img src="img/3.png" class="img-responsive" alt="">
                 </div>
               </div>
             </div>
             </div> -->
                  <!-- <div class="south-africa" ng-repeat="proj in data.project">
             <h4>{{proj.title}}</h4>
             <div class="slides">
               <div class="row">
                 <div class="col-md-4" ng-repeat="img in proj.images">
                   <li>
                     <a href="{{img.image | serverimage}}" fancybox-box>
                     <img ng-src="{{img.image | serverimage}}" class="img-responsive" alt="">
                       </a>
                   </li>

                 </div>
             </div> -->
                  <!-- <div class="ghana">
             <h4>Unilever Ghana</h4>
             </div>
             <div class="ethiopia">
             <h4>Unilever Ethiopia</h4>
             </div>
             <div class="cadbury">
             <h4>Cadbury - India (Makson/Barmalt)</h4>
             </div>
             <div class="kals">
             <h4>Kals - India , Ziemann</h4>
             </div> -->

                  <!-- </div>
</div>


         </uib-accordion-group> -->

                  <!--
        <uib-accordion-group is-open="status.open1">
       <uib-accordion-heading>
        CS NB SLMS IBR PIPING  <i class="pull-right fa " ng-class="{'fa fa-minus': status.open1, 'fa fa-plus': !status.open1}"></i>
       </uib-accordion-heading>
       This is just some content to illustrate fancy headings.
     </uib-accordion-group>
        <uib-accordion-group is-open="status.open2">
       <uib-accordion-heading>
        CS NB SLMS NON-IBR PIPING <i class="pull-right fa " ng-class="{'fa fa-minus': status.open2, 'fa fa-plus': !status.open2}"></i>

       </uib-accordion-heading>
       This is just some content to illustrate fancy headings.
     </uib-accordion-group>
     <uib-accordion-group is-open="status.open3">
    <uib-accordion-heading>
     CS NB SLMS NON-IBR PIPING <i class="pull-right fa " ng-class="{'fa fa-minus': status.open3, 'fa fa-plus': !status.open3}"></i>

    </uib-accordion-heading>
    This is just some content to illustrate fancy headings.
  </uib-accordion-group> -->





                  <!--
  <uib-accordion-group is-open="status.open4">
 <uib-accordion-heading>
  CS ERW <i class="pull-right fa " ng-class="{'fa fa-minus': status.open4, 'fa fa-plus': !status.open4}"></i>
 </uib-accordion-heading>
 <div class="erw-text">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing </p>


<div class="projects">
<h2 class="text-uppercase">projects</h2>
<div class="india">
<h4>Hindustan Unilever Limited - India</h4>
<div class="slides">
  <div class="row">
    <div class="col-md-4">
      <img src="img/1.png" class="img-responsive" alt="">
    </div>
    <div class="col-md-4">
        <img src="img/2.png" class="img-responsive" alt="">
    </div>
    <div class="col-md-4">
        <img src="img/3.png" class="img-responsive" alt="">
    </div>
  </div>
</div>
</div>
<div class="sri-lanka">
<h4>Unilever Sri Lanka</h4>
<div class="slides">
  <div class="row">
    <div class="col-md-4">
      <img src="img/1.png" class="img-responsive" alt="">
    </div>
    <div class="col-md-4">
        <img src="img/2.png" class="img-responsive" alt="">
    </div>
    <div class="col-md-4">
        <img src="img/3.png" class="img-responsive" alt="">
    </div>
  </div>
</div>
</div>
<div class="south-africa">
<h4>Unilever South Africa</h4>

</div>
<div class="ghana">
<h4>Unilever Ghana</h4>
</div>
<div class="ethiopia">
<h4>Unilever Ethiopia</h4>
</div>
<div class="cadbury">
<h4>Cadbury - India (Makson/Barmalt)</h4>
</div>
<div class="kals">
<h4>Kals - India , Ziemann</h4>
</div>

</div>
 </div>
</uib-accordion-group> -->




                  <!--

<uib-accordion-group is-open="status.open5">
<uib-accordion-heading>
GI PIPING <i class="pull-right fa " ng-class="{'fa fa-minus': status.open5, 'fa fa-plus': !status.open5}"></i>
</uib-accordion-heading>
This is just some content to illustrate fancy headings.
</uib-accordion-group>
<uib-accordion-group is-open="status.open6">
<uib-accordion-heading>
SS NB PIPING<i class="pull-right fa " ng-class="{'fa fa-minus': status.open6, 'fa fa-plus': !status.open6}"></i>
</uib-accordion-heading>
This is just some content to illustrate fancy headings.
</uib-accordion-group>
<uib-accordion-group is-open="status.open7">
<uib-accordion-heading>
PVC,CPVC,UPVC AND HDPE PIPING<i class="pull-right fa " ng-class="{'fa fa-minus': status.open7, 'fa fa-plus': !status.open7}"></i>

</uib-accordion-heading>
This is just some content to illustrate fancy headings.
</uib-accordion-group>
   </uib-accordion>
   <uib-accordion-group is-open="status.open7">
   <uib-accordion-heading>
   SS OD PIPING FOODS &AMP; BEVERAGES GRADE (ORBITAL WELDING)<i class="pull-right fa " ng-class="{'fa fa-minus': status.open7, 'fa fa-plus': !status.open7}"></i>

   </uib-accordion-heading>
   This is just some content to illustrate fancy headings.
   </uib-accordion-group>
   <uib-accordion-group is-open="status.open7">
   <uib-accordion-heading>
   SS OD PIPING  PERSONAL CARE (ORBITAL WELDING)<i class="pull-right fa " ng-class="{'fa fa-minus': status.open7, 'fa fa-plus': !status.open7}"></i>

   </uib-accordion-heading>
   This is just some content to illustrate fancy headings.
   </uib-accordion-group>  -->


                  <!-- </div> -->
         </div>
      </div>
   </div>
   <div class="gallery" ng-if="SectorData.images.length>0">
      <div class="slidings">
         <h2 class="title slide-text text-center uppercase">gallery</h2>
         <!-- <flex-slider  flex-slide="s in SectorData.images track by $index" class="carousel piping-slider" >
            <li>
               <a href="{{s.image | serverimage}}" fancybox-box>
                  <img ng-src="{{s.image |serverimage}}">
               </a>
            </li>
         </flex-slider> -->
         <flex-slider class="carousel"  flex-slide="s in SectorData.images track by $index"  item-width="275" item-margin="20"   animation="slide" animationLoop="true">
            <li>
               <a href="{{s.image | serverimage}}" fancybox-box>
                  <img ng-src="{{s.image |serverimage}}">
               </a>
            </li>
         </flex-slider>
      </div>
   </div>

   <!-- <div class="slider">
    <h2 class="title slide-text">gallery</h2>
    <flex-slider class="carousel" flex-slide="img in AllClients track by $index" animation="slide" animation-loop="false" as-nav-for="#slider" slide-show="false" item-margin="20">
      <li>
        <div class="client-imgholder">
          <div class="row" ng-repeat="row in img track by $index">
            <div class="col-md-2 col-sm-2" ng-repeat="clientimg in row track by $index">
              <div class="img-holder listing">
                <img ng-src="{{clientimg.logo|serverimage}}" alt="" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </li>
    </flex-slider>
  </div> -->
</div>
