<div class="container">
  <div class="rd-brand">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="brand-info">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eum reiciendis possimus, fugiat magni voluptatibus velit repellat, aperiam dolorem asperiores, eligendi neque sed, quae quam consequuntur! Delectus fugiat dolore nulla.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eum reiciendis possimus, fugiat magni voluptatibus velit repellat, aperiam dolorem asperiores, eligendi neque sed, quae quam consequuntur! Delectus fugiat dolore nulla.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque impedit, nesciunt dignissimos. Laboriosam harum inventore voluptatem molestiae incidunt debitis quaerat dolorum id odio dolore, ad enim deserunt cumque ut, doloribus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eum reiciendis possimus, fugiat magni voluptatibus velit repellat, aperiam dolorem asperiores, eligendi neque sed, quae quam consequuntur! Delectus fugiat dolore nulla.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi nemo, itaque architecto ea. Accusantium molestias quasi illum, veniam, temporibus doloribus obcaecati possimus, labore unde dolore sed minus repudiandae animi odio!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eum reiciendis possimus, fugiat magni voluptatibus velit repellat, aperiam dolorem asperiores, eligendi neque sed, quae quam consequuntur! Delectus fugiat dolore nulla.</p>
      </div>
    </div>
  </div>
      <div class="overview-images">
          <div class="row padding0">
            <div class="col-md-8 padding0 ">
              <div class="mycl">
              <ul class="padding0 ">
                <li>
                  <a href="#">
                    <div class="image-holder">
                  <div class="image-hold" ng-style="{'background-image':'url(img/c2.jpg)'}">
                  </div>
                  </div>
                    </a>
                </li>
                <li>
                  <a href="#">
                    <div class="image-holder">
                  <div class="image-hold" ng-style="{'background-image':'url(img/c1.jpg)'}">
                  </div>
                </div>
                </a>
                </li>
                <li>
                    <a href="#">
                      <div class="image-holder">
                  <div class="image-hold" ng-style="{'background-image':'url(img/c4.jpg)'}">
                  </div>
                  </div>
                    </a>
                </li>
                <li>
                     <a href="#">
                       <div class="image-holder">
                  <div class="image-hold" ng-style="{'background-image':'url(img/c5.jpg)'}">
                  </div>
                  </div>
                    </a>
                </li>
              </ul>
              </div>
            </div>
            <div class="col-md-4 padding0">
               <a href="#">
                 <div class="image-holder">
              <div class="imag-side" ng-style="{'background-image':'url(img/c3.jpg)'}">
              </div>
              </div>
              </a>
  </div>
</div>
</div>
</div>
<div class="certification text-center">
    <ul class="list-inline">
      <li class="success">Certification</li>
      <li><a href="#"><img src="img/certificate1.jpg" alt="Certificate"></a></li>
      <li><a href="#"><img src="img/certificate2.jpg" alt="Certificate"></a></li>
      <li><a href="#"><img src="img/certificate3.jpg" alt="Certificate"></a></li>
    </ul>
</div>
</div>
