<div class="container">
<div class="info">
  <div class="row">
    <div class=" col-md-offset-2 col-md-8">
      <p class="sector-inf">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam commodi placeat enim provident, labore similique veniam veritatis quae eaque deserunt molestias, minus, dicta maiores laboriosam quod nobis eius autem nisi!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam commodi placeat enim provident, labore similique veniam veritatis quae eaque deserunt molestias, minus, dicta maiores laboriosam quod nobis eius autem nisi!</p>
    </div>
</div>
</div>
<div class="sectors">
  <div class="tab">
    <uib-tabset active="active">
    <uib-tab index="0" heading="Vertical 1">
      <uib-tab-heading>
      sector  1
     </uib-tab-heading>
    </uib-tab>
    <uib-tab index="1" heading="Vertical 2">
      <uib-tab-heading>
      sector 2
     </uib-tab-heading>
    </uib-tab>
    <uib-tab index="1" heading="Vertical 2">
      <uib-tab-heading>
      sector 3
     </uib-tab-heading>
    </uib-tab>
    <uib-tab index="1" heading="Vertical 2">
      <uib-tab-heading>
      sector  4
     </uib-tab-heading>
    </uib-tab>
    <uib-tab index="1" heading="Vertical 2">
      <uib-tab-heading>
      sector  5
     </uib-tab-heading>
    </uib-tab>
  </uib-tabset>
  </div>
  <div class="row">
    <div class=" col-md-offset-2 col-md-8">
      <p class="sect1-inf">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam commodi placeat enim provident, labore similique veniam veritatis quae eaque deserunt molestias, minus, dicta maiores laboriosam quod nobis eius autem nisi!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam commodi placeat enim provident, labore similique veniam veritatis quae eaque deserunt molestias, minus, dicta maiores laboriosam quod nobis eius autem nisi!</p>
    </div>
</div>
  <div class="sector-img">
<div class="row">
  <div class=" col-md-offset-2 col-md-8">

    <div class="row">
      <div class="col-md-6">
        <img src="img/fact.jpg" class="img-responsive">
      </div>
      <div class="col-md-6">
        <div class="sector1-images">
         <ul>
            <li><img src="img/sector1.jpg" class="img-responsive"></li>
            <li><img src="img/sector2.jpg" class="img-responsive"></li>
          </ul>
        </div>
      </div>
    </div>
    <p class="sect1-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse at nihil ab necessitatibus sit aliquam iste maxime commodi ut, ea beatae magnam libero deserunt nulla, adipisci. Pariatur accusantium eligendi, animi?
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse at nihil ab necessitatibus sit aliquam iste maxime commodi ut, ea beatae magnam libero deserunt nulla, adipisci. Pariatur accusantium eligendi, animi?
    </p>
    <p  >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit accusamus minus quidem vel rerum, similique, obcaecati, explicabo ipsum unde velit assumenda aliquid debitis provident laudantium, eius cum quae sunt blanditiis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse at nihil ab necessitatibus sit aliquam iste maxime commodi ut, ea beatae magnam libero deserunt nulla, adipisci. Pariatur accusantium eligendi, animi?</p>
  </div>
</div>
</div>
<div class="certification text-center">
    <ul class="list-inline">
      <li class="success">Certification</li>
      <li><a href="#"><img src="img/certificate1.jpg" alt="Certificate"></a></li>
      <li><a href="#"><img src="img/certificate2.jpg" alt="Certificate"></a></li>
      <li><a href="#"><img src="img/certificate3.jpg" alt="Certificate"></a></li>
    </ul>
</div>
</div>
