<div class="container">
<div class="info">
  <div class="row">
    <div class=" col-md-offset-2 col-md-8">
      <p class="sector-inf">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam commodi placeat enim provident, labore similique veniam veritatis quae eaque deserunt molestias, minus, dicta maiores laboriosam quod nobis eius autem nisi!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam commodi placeat enim provident, labore similique veniam veritatis quae eaque deserunt molestias, minus, dicta maiores laboriosam quod nobis eius autem nisi!</p>
    </div>
</div>
</div>
</div>
