<div class="banner" ng-controllor="PipingCtrl">
  <div class="">
    <img ng-src="{{SectorData.image2 | serverimage}}" class="img-responsive">


    <div class="floating-left">
        <img src="img/left-arrow.png" width="200">
    </div>
    <div class="floating-right">
        <img src="img/arw.png" width="350">
    </div>
    </div>
    <!-- <div class="hidden-lg hidden-md">
      <div class="static-banner">
        <img src="img/aboutbanner.jpg" class="img-responsive" alt="">
      </div>
    </div> -->
</div>
