<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="col-md-3">
          <ul>
            <li class="list-head"><a href="#">about us</a></li>
            <li class="list-head"><a href="#">Our strength</a></li>
            <li class="list-head"><a href="#">opportunities</a></li>
            <li class="list-head"><a href="#">contact us</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <ul>
            <li class="list-head"><a href="#">turnkey</a></li>
            <li><a href="#">piping</a></li>
            <li><a href="#">structures</a></li>
            <li><a href="#">tankages</a></li>
            <li><a href="#">instrumentation</a></li>
            <li><a href="#">insulation</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul>
            <li class="list-head"><a href="#">projects</a></li>
            <li><a href="#">current projects</a></li>
            <li><a href="#">completed projects</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <li class="list-head"><a href="#">clients</a></li>
            <li><a href="#">petrochemicals/oil gas</a></li>
            <li><a href="#">engineering</a></li>
            <li><a href="#">food and beverages</a></li>
            <li><a href="#">pharmaceuticals</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="foot-social">
        <div class="pull-right text-right">
          <ul class="social list-inline">
            <li><a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#" title="Youtube" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
            <li><a href="#" title="Linkedin" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
          <p>Copyright &copy; RD Engineering {{template.year}}. All Right Reserved.</p>
          <span>designed by ting</span>
        </div>
      </div>
    </div>
    </div>
  </div>
</footer>
