<footer>
  <div class="container" ng-controller='footerctrl'>
    <div class="row">
      <div class="col-md-7 col-sm-12  foot-list">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <ul>
            <li class="list-head"><a ui-sref="home">Home</a></li>
            <li class="list-head"><a ui-sref="overview">Overview</a></li>
            <li><a ui-sref="about">About RD + Geography</a></li>
            <li><a ui-sref="mission-vision">Mission and vision</a></li>
            <!-- <li><a ui-sref="management">Management</a></li> -->
            <li><a ui-sref="csr">CSR</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <ul>
            <!-- <li class="list-head" ng-repeat="sector in allSectorData"><a ui-sref="sectors/{{sector.name}}/{{sector.id}}">{{sector.name}}</a></li> -->
            <li class="list-head" ><a ui-sref="services">Services</a></li>
            <li ng-repeat="sector in allSectorData"><a class="about"   ng-click="goToSectors(sector)">{{sector.name}}</a></li>
            <!-- <li><a ui-sref="piping">Piping</a></li> -->
            <!-- <li><a ui-sref="sectors/tanksandequipment/8">Tanks and Equipment</a></li>
            <li><a ui-sref="insulation">Hot &amp; Cold Insulation</a></li>
            <li><a ui-sref="skid-modular">Mounted modular plants</a></li>
            <li><a ui-sref="ss-ms">SS &amp; MS steel structure</a></li>
            <li><a ui-sref="ss-ms">piping and erection</a></li> -->
          </ul>
        </div>
        <!-- <div class="col-md-2 col-sm-2 col-xs-2">
          <ul>
            <li class="list-head" ><a href="#">sectors</a></li>
            <li ><a href="#">sector1</a></li>
            <li ><a href="#">sector2</a></li>
            <li ><a href="#">sector3</a></li>
            <li ><a href="#">sector4</a></li>
            <li ><a href="#">sector5</a></li>
          </ul>
        </div> -->
        <div class="col-md-4 col-sm-4 col-xs-4">
          <ul>
            <li class="list-head"><a ui-sref="clients">clients</a></li>
            <li class="list-head"><a ui-sref="careers">careers</a></li>
            <li class="list-head"><a ui-sref="contact-us">contact us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 col-sm-12 col-xs-12">
        <div class="foot-social pull-right text-right">
          <!-- <ul class="social list-inline">
            <li><a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#" title="Youtube" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
            <li><a href="#" title="Linkedin" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul> -->
          <p>Copyright &copy; RD Engineering {{template.year}}. All Right Reserved.</p>
          <span>designed by ting</span>
      </div>
    </div>
    </div>
  </div>
</footer>
