<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-4">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Overview</a></li>
            <li><a href="#">AboutRD+Geography</a></li>
            <li><a href="#">Mission and vision</a></li>
            <li><a href="#">management</a></li>
            <li><a href="#">csr</a></li>
            <li><a href="#">RD -The brand</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <li><a href="#">what</a></li>
            <li><a href="#">sectors</a></li>
            <li><a href="#">sector1</a></li>
            <li><a href="#">sector2</a></li>
            <li><a href="#">sector3</a></li>
            <li><a href="#">sector4</a></li>
            <li><a href="#">sector5</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <li><a href="#">clients</a></li>
            <li><a href="#">careers</a></li>
            <li><a href="#">contact us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="pull-right text-right">
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
          <p>Copyright &copy;RDEngineering {{template.year}}. All Right Reserved.</p>
          <span>designed by ting</span>
        </div>
      </div>
    </div>
  </div>
</footer>
