<!--
<ul class="nav navbar-nav">
  <li ng-repeat="menu in navigation" class="{{menu.classis}}">
    <a ui-sref="{{menu.anchor}}" ng-if="menu.anchor && menu.name!='Our Services'">{{menu.name}}</a>
    <a href="{{menu.link}}" ng-if="menu.link">{{menu.name}}</a>
    <ul class="dropdown-menu" ng-if="menu.subnav!=''">
      <li ng-repeat="submenu in menu.subnav">
        <a ui-sref="{{submenu.link}}">{{submenu.name}}</a>
      </li>
    </ul>
  </li>


  <li class="{{menu.classis}}">
    <a ui-sref="{{menu.anchor}}">Our Services</a>
    <ul class="dropdown-menu">
      <li ng-repeat="submenu in AllSectors10">
        <a ui-sref="{{submenu.link}}">{{submenu.name}}</a>
      </li>
    </ul>
  </li>
</ul>  -->
<div class="hidden-sm hidden-md hidden-lg finally">
<uib-accordion close-others="true">
<div ng-repeat="menu in navigation" uib-accordion-group class="panel-default" is-open="status.open2">
      <uib-accordion-heading>
      <i ng-if="menu.subnav.length>0" class="pull-right fa " ng-class="{'fa fa-chevron-up': status.open2, 'fa fa-chevron-down ': !status.open2}"></i>
        <a ui-sref="{{menu.anchor}}" ng-if="menu.anchor">{{menu.name}}</a>
        <a href="{{menu.link}}" ng-if="menu.link">{{menu.name}}</a>
      </uib-accordion-heading>
      <ul ng-if="menu.subnav.length>0">
        <li  ng-repeat="submenu in menu.subnav">
          <a ui-sref="{{submenu.link}}">{{submenu.name}}</a>
        </li>
        <!-- <li>
          <a ui-sref="mission-vision">Mission and Vision</a>
        </li>
        <li>
          <a ui-sref="csr">CSR</a>
        </li> -->
      </ul>
    </div>
    <!-- <div uib-accordion-group class="panel-default">
          <uib-accordion-heading>
        Our Services
          </uib-accordion-heading>
          <ul >
            <li>
              <a >Tanks and Equipment</a>
            </li>
            <li>
              <a >Hot and Cold Insulation</a>
            </li>
            <li>
              <a >Mounted Modular Plants</a>
            </li>
            <li>
              <a >SS and MS Steel structure</a>
            </li>
            <li>
              <a >Piping and Erection</a>
            </li>
          </ul>
         <ul>
            <li ng-repeat="submenu in menu.subnav">
              <a ui-sref="{{submenu.link}}">{{submenu.name}}</a>
            </li>
          </ul>
        </div> -->
        <!-- <div uib-accordion-group class="panel-default career">
              <uib-accordion-heading >
                     <a ui-sref="careers" class="separate">careers</a>
              </uib-accordion>{{su-heading>
            </div>
            <div uib-accordion-group class="panel-default" is-disabled="true">
                  <uib-accordion-heading>
             <a ui-sref="clients" class="separate">clients</a>
                  </uib-accordion-heading>
                </div>
                <div uib-accordion-group class="panel-default" is-disabled="true">
                      <uib-accordion-heading>
                   <a ui-sref="contact-us" class="separate">contact us</a>
                      </uib-accordion-heading>
                    </div> -->
    </uib-accordion>
  </div>

 <ul class="nav navbar-nav hidden-xs">
  <li ng-repeat="menu in navigation" class="{{menu.classis}}">
    <a ui-sref="{{menu.anchor}}" ng-if="menu.anchor">{{menu.name}}</a>
    <a href="{{menu.link}}" ng-if="menu.link">{{menu.name}}</a>
    <ul class="dropdown-menu" ng-if="menu.subnav!='';">
      <li ng-repeat="submenu in menu.subnav">
        <a ui-sref="{{submenu.link}}">{{submenu.name}}</a>
      </li>
    </ul>
  </li>
</ul>
